

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>View Cells - 3.x</title>
    <link href="../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../_static/app.js"></script>

    <link rel="alternate" hreflang="en" href="../../en/views/cells.html" /><link rel="alternate" hreflang="pt_BR" href="../../pt/views/cells.html" /><link rel="alternate" hreflang="es" href="../../es/views/cells.html" /><link rel="alternate" hreflang="ja" href="../../ja/views/cells.html" /><link rel="alternate" hreflang="zh" href="../../zh/views/cells.html" /><link rel="alternate" hreflang="tr" href="../../tr/views/cells.html" /><link rel="alternate" hreflang="ru" href="../../ru/views/cells.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within documentation CakePHP Cookbook 3.5" href="../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="documentation CakePHP Cookbook 3.5" href="../index.html" />
    <link rel="up" title="Views (Vues)" href="../views.html" />
    <link rel="next" title="Themes" href="themes.html" />
    <link rel="prev" title="Views (Vues)" href="../views.html" />

    <script type="text/javascript">
    window.lang = "fr";
    </script>
  </head>
  <body>

<div id="container">
    
    <header class="nav-down">
        <div class="container-fluid hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-9 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <li class="first">
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
                                <ul class="submenu">
                                    
<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                                </ul>
                            </li>

                            <li><a href="https://cakephp.org/business-solutions">Business Solutions</a></li>
                            <li><a href="https://cakephp.org/writers">Get Paid To Write</a></li>
                            <li><a href="https://cakephp.org/pages/team">Team</a></li>

                            <li>
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
                                <div class="megamenu full">
                                    <div class="row">
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="navbar-right">
                        <button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-bars toggle-modal"></i>
                        </button>
                    </div>
                    <div id="wrap">
                        <form class="search" action="../search.html" method="get">
                            <input name="q" type="search" placeholder="What are you looking for?">
                            <input id="search_submit" value="Recherche" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <section id="nav-cook" class="hidden-xs hidden-sm">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-12 back-book">
                        <div class="col-md-5 text-center t-cook-nav p0 hidden-sm hidden-xs">
                            <h2>
                                <a href="../contents.html">
                                    <span class="glyph_range icon-submenu icon-submenu-cook">B</span>
                                    CakePHP 3.5 Red Velvet <strong>Cookbook</strong>
                                </a>
                            </h2>
                        </div>

                        <div class="col-md-4 hidden-sm">
                            <form class="search" action="../search.html" method="get">
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />

                                <div class="col-md-10 p0">
                                    <input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
                                </div>
                                <div class="col-md-2 p0 search-cook">
                                    <button type="submit">
                                        <span class="glyph_range icon-submenu icon-submenu-cook">A</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="col-md-3">
                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Language:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                                        fr
                                                        <i class="fa fa-menu-en fa-chevron-down"></i>
                                                    </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li><a href="../../en/views/cells.html">en</a></li>
                                            
                                                <li><a href="../../pt/views/cells.html">pt</a></li>
                                            
                                                <li><a href="../../es/views/cells.html">es</a></li>
                                            
                                                <li><a href="../../ja/views/cells.html">ja</a></li>
                                            
                                                <li></li>
                                            
                                                <li><a href="../../zh/views/cells.html">zh</a></li>
                                            
                                                <li><a href="../../tr/views/cells.html">tr</a></li>
                                            
                                                <li><a href="../../ru/views/cells.html">ru</a></li>
                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Version:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://book.cakephp.org/3.0/fr">3.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/2.0/fr">2.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.3/fr/">1.3 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.2/fr/">1.2 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.1/en">1.1 Book</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </header>

    
    <section class="nav-btn visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
                </div>

                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
                </div>
            </div>
        </div>
    </section>

    
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title-cookbook" id="modal-header"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

<div class="container page-container "><div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/docs/edit/3.0/fr/views/cells.rst" target="_blank">
            <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
        </a>
    </div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

    
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3"><div class="page-contents col-sm-5">
                <h3>Page Contents</h3>
                <ul>
<li><a class="reference internal" href="#">View Cells</a><ul>
<li><a class="reference internal" href="#quand-utiliser-les-cells">Quand utiliser les Cells</a></li>
<li><a class="reference internal" href="#creer-une-cell">Créer une Cell</a><ul>
<li><a class="reference internal" href="#implementer-la-cell">Implémenter la Cell</a></li>
</ul>
</li>
<li><a class="reference internal" href="#charger-les-cells">Charger les Cells</a><ul>
<li><a class="reference internal" href="#passer-des-arguments-a-une-cell">Passer des Arguments à une Cell</a></li>
</ul>
</li>
<li><a class="reference internal" href="#afficher-une-cell">Afficher une Cell</a><ul>
<li><a class="reference internal" href="#afficher-un-template-alternatif">Afficher un Template alternatif</a></li>
<li><a class="reference internal" href="#mettre-en-cache-la-sortie-de-cell">Mettre en Cache la Sortie de Cell</a></li>
</ul>
</li>
<li><a class="reference internal" href="#paginer-des-donnees-dans-une-cell">Paginer des Données dans une Cell</a></li>
</ul>
</li>
</ul>

            </div><div class="document-body">
            
  <div class="section" id="view-cells">
<h1>View Cells<a class="headerlink" href="#view-cells" title="Lien permanent vers ce titre">¶</a></h1>
<p>View cells sont des mini-controllers qui peuvent invoquer de la logique de vue
et afficher les templates. L&#8217;idée des cells est empruntée aux <a class="reference external" href="https://github.com/apotonick/cells">cells dans ruby</a>, où elles remplissent un rôle et un
sujet similaire.</p>
<div class="section" id="quand-utiliser-les-cells">
<h2>Quand utiliser les Cells<a class="headerlink" href="#quand-utiliser-les-cells" title="Lien permanent vers ce titre">¶</a></h2>
<p>Les Cells sont idéales pour la construction de components de page réutilisables
qui nécessitent une interaction avec les models, la logique de view, et la
logique de rendu. Un exemple simple serait un caddie dans un magasin en ligne,
ou un menu de navigation selon des données dans un CMS.</p>
</div>
<div class="section" id="creer-une-cell">
<h2>Créer une Cell<a class="headerlink" href="#creer-une-cell" title="Lien permanent vers ce titre">¶</a></h2>
<p>Pour créer une cell, vous définissez une classe dans <strong>src/View/Cell</strong>, et un
template dans <strong>src/Template/Cell/</strong>. Dans cet exemple, nous ferons une cell
pour afficher le nombre de messages dans la boite de messages de notification de
l&#8217;utilisateur. D&#8217;abord, créons le fichier de classe. Son contenu devrait
ressembler à ceci:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\View\Cell</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Cake\View\Cell</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">InboxCell</span> <span class="k">extends</span> <span class="nx">Cell</span>
<span class="p">{</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">display</span><span class="p">()</span>
    <span class="p">{</span>
    <span class="p">}</span>

<span class="p">}</span>
</pre></div>
</div>
<p>Sauvegardez ce fichier dans <strong>src/View/Cell/InboxCell.php</strong>. Comme vous pouvez
le voir, comme pour les autres classes dans CakePHP, les Cells ont quelques
conventions:</p>
<ul class="simple">
<li>Les Cells se trouvent dans le namespace <code class="docutils literal"><span class="pre">App\View\Cell</span></code>. Si vous faîtes une
cell dans un plugin, le namespace sera <code class="docutils literal"><span class="pre">PluginName\View\Cell</span></code>.</li>
<li>Les noms de classe doivent finir en Cell.</li>
<li>Les classes doivent hériter de <code class="docutils literal"><span class="pre">Cake\View\Cell</span></code>.</li>
</ul>
<p>Nous avons ajouté une méthode vide <code class="docutils literal"><span class="pre">display()</span></code> à notre cell, c&#8217;est la méthode
conventionnelle par défaut pour le rendu de cell. Nous couvrirons la façon
d&#8217;utiliser les autres méthodes plus tard dans la doc. Maintenant, créons le
fichier <strong>src/Template/Cell/Inbox/display.ctp</strong>. Ce sera le template pour notre
nouvelle cell.</p>
<p>Vous pouvez générer ce bout de code rapidement en utilisant <code class="docutils literal"><span class="pre">bake</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nx">bin</span><span class="o">/</span><span class="nx">cake</span> <span class="nx">bake</span> <span class="nx">cell</span> <span class="nx">Inbox</span>
</pre></div>
</div>
<p>Générera le code que nous avons tapé.</p>
<div class="section" id="implementer-la-cell">
<h3>Implémenter la Cell<a class="headerlink" href="#implementer-la-cell" title="Lien permanent vers ce titre">¶</a></h3>
<p>Supposons que nous travaillions sur une application qui permette aux
utilisateurs d&#8217;envoyer des messages aux autres. Nous avons un model
<code class="docutils literal"><span class="pre">Messages</span></code>, et nous voulons montrer le nombre de messages non lus sans avoir
à polluer AppController. C&#8217;est un cas d&#8217;utilisation parfait pour une cell. Dans
la classe, nous avons juste ajouté ce qui suit:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\View\Cell</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Cake\View\Cell</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">InboxCell</span> <span class="k">extends</span> <span class="nx">Cell</span>
<span class="p">{</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">display</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadModel</span><span class="p">(</span><span class="s1">&#39;Messages&#39;</span><span class="p">);</span>
        <span class="nv">$unread</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Messages</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;unread&#39;</span><span class="p">);</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;unread_count&#39;</span><span class="p">,</span> <span class="nv">$unread</span><span class="o">-&gt;</span><span class="na">count</span><span class="p">());</span>
    <span class="p">}</span>

<span class="p">}</span>
</pre></div>
</div>
<p>Puisque les cells utilisent <code class="docutils literal"><span class="pre">ModelAwareTrait</span></code> et <code class="docutils literal"><span class="pre">ViewVarsTrait</span></code>, elles
se comportent un peu comme un controller. Nous pouvons utiliser les méthodes
<code class="docutils literal"><span class="pre">loadModel()</span></code> et <code class="docutils literal"><span class="pre">set()</span></code> un peu comme nous le ferions dans un controller.
Dans notre fichier de template, ajoutons ce qui suit:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="o">&lt;!--</span> <span class="nx">src</span><span class="o">/</span><span class="nx">Template</span><span class="o">/</span><span class="nx">Cell</span><span class="o">/</span><span class="nx">Inbox</span><span class="o">/</span><span class="nx">display</span><span class="o">.</span><span class="nx">ctp</span> <span class="o">--&gt;</span>
<span class="o">&lt;</span><span class="nx">div</span> <span class="nx">class</span><span class="o">=</span><span class="s2">&quot;notification-icon&quot;</span><span class="o">&gt;</span>
    <span class="nx">Vous</span> <span class="nx">avez</span> <span class="o">&lt;?=</span> <span class="nv">$unread_count</span> <span class="cp">?&gt;</span><span class="x"> messages non lus.</span>
<span class="x">&lt;/div&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Les templates des cells ont une portée isolée et ne partage pas la même
instance de View que celle utilisée pour rendre le template et le layout
de l&#8217;action du controller courant ou d&#8217;autres cells. Ils ne sont donc pas
au courant de tous les appels aux helpers ou aux blocs définis dans
template / layout de l&#8217;action et vice versa.</p>
</div>
</div>
</div>
<div class="section" id="charger-les-cells">
<h2>Charger les Cells<a class="headerlink" href="#charger-les-cells" title="Lien permanent vers ce titre">¶</a></h2>
<p>Les cells peuvent être chargées à partir des views en utilisant la méthode
<code class="docutils literal"><span class="pre">cell()</span></code> et fonctionne de la même manière dans les deux contextes:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Charge une cell d&#39;une application</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">);</span>

<span class="c1">// Charge une cell d&#39;un plugin</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Messaging.Inbox&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Ce qui est au-dessus va charger la classe de cell nommée et exécuter la méthode
<code class="docutils literal"><span class="pre">display()</span></code>.
Vous pouvez exécuter d&#8217;autres méthodes en utilisant ce qui suit:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Lance la méthode expanded() dans la cell Inbox</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox::expanded&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Si vous avez besoin que votre controller décide quelles cells doivent être
chargées dans une requête, vous pouvez utiliser le <code class="docutils literal"><span class="pre">CellTrait</span></code> dans votre
controller pour y activer la méthode <code class="docutils literal"><span class="pre">cell()</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">App\Controller\AppController</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\View\CellTrait</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">DashboardsController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">use</span> <span class="nx">CellTrait</span><span class="p">;</span>

    <span class="c1">// More code.</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="section" id="passer-des-arguments-a-une-cell">
<h3>Passer des Arguments à une Cell<a class="headerlink" href="#passer-des-arguments-a-une-cell" title="Lien permanent vers ce titre">¶</a></h3>
<p>Vous voudrez souvent paramétrer les méthodes cell pour rendre les cells plus
flexibles. En utilisant les deuxième et troisième arguments de <code class="docutils literal"><span class="pre">cell()</span></code>, vous
pouvez passer des paramètres d&#8217;action, et des options supplémentaires à vos
classes de cell, en tableau indexé:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox::recent&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;-3 days&#39;</span><span class="p">]);</span>
</pre></div>
</div>
<p>Ce qui est au-dessus correspondra à la signature de la fonction suivante:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">recent</span><span class="p">(</span><span class="nv">$since</span><span class="p">)</span>
<span class="p">{</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="afficher-une-cell">
<h2>Afficher une Cell<a class="headerlink" href="#afficher-une-cell" title="Lien permanent vers ce titre">¶</a></h2>
<p>Une fois qu&#8217;une cell a été chargée et exécutée, vous voudrez probablement
l&#8217;afficher. La façon la plus simple pour rendre une cell est de faire une echo:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="o">&lt;?=</span> <span class="nv">$cell</span> <span class="cp">?&gt;</span><span class="x"></span>
</pre></div>
</div>
<p>Ceci va afficher le template correspondant à la version en minuscule et avec des
underscores de notre nom d&#8217;action, par exemple <strong>display.ctp</strong>.</p>
<p>Puisque les cells utilisent <code class="docutils literal"><span class="pre">View</span></code> pour afficher les templates, vous pouvez
charger les cells supplémentaires dans un template de cell si nécessaire.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">L&#8217;affichage d&#8217;une cell utilise la méthode magique PHP <code class="docutils literal"><span class="pre">__toString()</span></code> qui
empêche PHP de montrer le nom du fichier et le numéro de la ligne pour
toutes les erreurs fatales levées. Pour obtenir un message d&#8217;erreur qui a
du sens, il est recommandé d&#8217;utiliser la méthode <code class="docutils literal"><span class="pre">Cell::render()</span></code>, par
exemple <code class="docutils literal"><span class="pre">&lt;?=</span> <span class="pre">$cell-&gt;render()</span> <span class="pre">?&gt;</span></code>.</p>
</div>
<div class="section" id="afficher-un-template-alternatif">
<h3>Afficher un Template alternatif<a class="headerlink" href="#afficher-un-template-alternatif" title="Lien permanent vers ce titre">¶</a></h3>
<p>Par convention, les cells affichent les templates qui correspondent à l&#8217;action
qu&#8217;ils exécutent. Si vous avez besoin d&#8217;afficher un template de vue différent,
vous pouvez spécifier le template à utiliser lors de l&#8217;affichage de la cell:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Appel de render() explicitement</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox::recent&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;-3 days&#39;</span><span class="p">])</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;messages&#39;</span><span class="p">);</span>

<span class="c1">// Définit le template avant de faire un echo de la cell.</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">);</span> <span class="cp">?&gt;</span><span class="x"></span>
<span class="x">$cell-&gt;template = &#39;messages&#39;;</span>
<span class="x">echo $cell;</span>
</pre></div>
</div>
</div>
<div class="section" id="mettre-en-cache-la-sortie-de-cell">
<h3>Mettre en Cache la Sortie de Cell<a class="headerlink" href="#mettre-en-cache-la-sortie-de-cell" title="Lien permanent vers ce titre">¶</a></h3>
<p>Quand vous affichez une cell, vous pouvez mettre en cache la sortie rendue si
les contenus ne changent pas souvent ou pour aider à améliorer la performance
de votre application. Vous pouvez définir l&#8217;option <code class="docutils literal"><span class="pre">cache</span></code> lors de la création
d&#8217;une cell pour activer &amp; configurer la mise en cache:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Le Cache utilisant la config par défaut et une clé générée</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">,</span> <span class="p">[],</span> <span class="p">[</span><span class="s1">&#39;cache&#39;</span> <span class="o">=&gt;</span> <span class="k">true</span><span class="p">]);</span>

<span class="c1">// Mise en cache avec une config de cache spécifique et une clé générée</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">,</span> <span class="p">[],</span> <span class="p">[</span><span class="s1">&#39;cache&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;config&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;cell_cache&#39;</span><span class="p">]]);</span>

<span class="c1">// Spécifie la clé et la config à utiliser.</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">,</span> <span class="p">[],</span> <span class="p">[</span>
    <span class="s1">&#39;cache&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;config&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;cell_cache&#39;</span><span class="p">,</span> <span class="s1">&#39;key&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;inbox_&#39;</span> <span class="o">.</span> <span class="nv">$user</span><span class="o">-&gt;</span><span class="na">id</span><span class="p">]</span>
<span class="p">]);</span>
</pre></div>
</div>
<p>Si une clé est générée, la version en underscore de la classe cell et le nom du
template seront utilisés.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Une nouvelle instance de <code class="docutils literal"><span class="pre">View</span></code> est utilisée pour retourner chaque cell et
ces nouveaux objets ne partagent pas de contexte avec le template /layout
principal. Chaque cell est auto-contenu et a seulement accès aux variables
passés en arguments par l&#8217;appel de <code class="docutils literal"><span class="pre">View::cell()</span></code>.</p>
</div>
</div>
</div>
<div class="section" id="paginer-des-donnees-dans-une-cell">
<h2>Paginer des Données dans une Cell<a class="headerlink" href="#paginer-des-donnees-dans-une-cell" title="Lien permanent vers ce titre">¶</a></h2>
<p>Créer une cell qui qui rend des résultats paginés peut être fait en utilisant
la classe <code class="docutils literal"><span class="pre">Paginator</span></code> de l&#8217;ORM. Voici un exemple de pagination des messages
favoris d&#8217;un utilisateur:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\View\Cell</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Cake\View\Cell</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\Datasource\Paginator</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">FavoritesCell</span> <span class="k">extends</span> <span class="nx">Cell</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">display</span><span class="p">(</span><span class="nv">$user</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadModel</span><span class="p">(</span><span class="s1">&#39;Messages&#39;</span><span class="p">);</span>

        <span class="c1">// Création du paginator</span>
        <span class="nv">$paginator</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Paginator</span><span class="p">();</span>

        <span class="c1">// Pagination du model</span>
        <span class="nv">$results</span> <span class="o">=</span> <span class="nv">$paginator</span><span class="o">-&gt;</span><span class="na">paginate</span><span class="p">(</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Messages</span><span class="p">,</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">getQueryParams</span><span class="p">(),</span>
            <span class="p">[</span>
                <span class="c1">// Utilisation d&#39;un finder personnalisé avec paramètre</span>
                <span class="s1">&#39;finder&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;favorites&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="nv">$user</span><span class="p">]],</span>

                <span class="c1">// Utilisation de paramètre de query &#39;scoped&#39;.</span>
                <span class="s1">&#39;scope&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;favorites&#39;</span><span class="p">,</span>
            <span class="p">]</span>
        <span class="p">);</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;favorites&#39;</span><span class="p">,</span> <span class="nv">$results</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>La cell ci-dessus va paginer le model <code class="docutils literal"><span class="pre">Messages</span></code> en utilisant les
<a class="reference internal" href="../controllers/components/pagination.html#paginating-multiple-queries"><span class="std std-ref">paramètres de pagination &#8216;scopés&#8217;</span></a>.</p>
<div class="versionadded">
<p><span class="versionmodified">Nouveau dans la version 3.5.0: </span><code class="docutils literal"><span class="pre">Cake\Datasource\Paginator</span></code> a été ajoutée dans 3.5.0.</p>
</div>
</div>
</div>


            </div>
        </div>

        
        <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm" lang="fr">
            <aside class="sidebar">
                <div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<p class="caption"><span class="caption-text">Préface</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../intro.html">CakePHP en un Coup d&#8217;Oeil</a></li>
<li class="toctree-l1"><a class="reference internal" href="../quickstart.html">Guide de Démarrage Rapide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices/3-x-migration-guide.html">3.x Guide de Migration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorials-and-examples.html">Tutoriels et exemples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../contributing.html">Contribuer</a></li>
</ul>
<p class="caption"><span class="caption-text">Pour Commencer</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/request-response.html">Les Objets Request &amp; Response</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/middleware.html">Middleware</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers.html">Controllers (Contrôleurs)</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../views.html">Views (Vues)</a><ul class="current">
<li class="toctree-l2 current"><a class="current reference internal" href="#">View Cells</a></li>
<li class="toctree-l2"><a class="reference internal" href="themes.html">Themes</a></li>
<li class="toctree-l2"><a class="reference internal" href="json-and-xml-views.html">Vues JSON et XML</a></li>
<li class="toctree-l2"><a class="reference internal" href="helpers.html">Helpers (Assistants)</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../orm.html">Accès Base de Données &amp; ORM</a></li>
</ul>
<p class="caption"><span class="caption-text">Généralités</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../controllers/components/authentication.html">Authentification</a></li>
<li class="toctree-l1"><a class="reference internal" href="../bake.html">Console Bake</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/caching.html">La mise en cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../console-and-shells.html">Outils de Console, Shells, &amp; Tasks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/debugging.html">Debugger</a></li>
<li class="toctree-l1"><a class="reference internal" href="../deployment.html">Déploiement</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/email.html">Email</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/errors.html">Gestion des Erreurs &amp; Exceptions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/events.html">Événements système</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/internationalization-and-localization.html">Internationalisation &amp; Localisation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/logging.html">Journalisation (logging)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/form.html">Formulaires Sans Models</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/components/pagination.html">Pagination</a></li>
<li class="toctree-l1"><a class="reference internal" href="../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/rest.html">REST</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security.html">Sécurité</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/sessions.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/validation.html">Validation</a></li>
</ul>
<p class="caption"><span class="caption-text">Utilitaires</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/app.html">Classe App</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/collections.html">Collections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/file-folder.html">Folder &amp; File</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/hash.html">Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/httpclient.html">Client Http</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/inflector.html">Inflector</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/number.html">Number</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/registry-objects.html">Objets Registry</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/text.html">Text</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/time.html">Date &amp; Time</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/xml.html">Xml</a></li>
</ul>
<p class="caption"><span class="caption-text">Divers</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/global-constants-and-functions.html">Globales &amp; Fonctions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../chronos.html">Chronos</a></li>
<li class="toctree-l1"><a class="reference internal" href="../debug-kit.html">Debug Kit</a></li>
<li class="toctree-l1"><a class="reference internal" href="../migrations.html">Migrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../elasticsearch.html">ElasticSearch</a></li>
<li class="toctree-l1"><a class="reference internal" href="../upgrade-tool.html">Outil d&#8217;Upgrade</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices.html">Annexes</a></li>
</ul>

</div>

                </div>
            </aside>
            <aside class="sidebar">
                <div class="mb30 row">
                </div>
            </aside>
        </div>
    </div>
</div>

<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3">
                    <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="https://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="https://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="https://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="https://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="https://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="https://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="../_static/open-hub.png">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="../_static/rackspace.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        <li class="menu-title">
    <a href="https://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
    <a href="https://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                            &copy; Copyright 2017, Cake Software Foundation, Inc.
                        Mis à jour le août 30, 2017.
                        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  </body>
</html>