

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>Vues JSON et XML - 3.x</title>
    <link href="../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../_static/app.js"></script>

    <link rel="alternate" hreflang="en" href="../../en/views/json-and-xml-views.html" /><link rel="alternate" hreflang="pt_BR" href="../../pt/views/json-and-xml-views.html" /><link rel="alternate" hreflang="es" href="../../es/views/json-and-xml-views.html" /><link rel="alternate" hreflang="ja" href="../../ja/views/json-and-xml-views.html" /><link rel="alternate" hreflang="zh" href="../../zh/views/json-and-xml-views.html" /><link rel="alternate" hreflang="tr" href="../../tr/views/json-and-xml-views.html" /><link rel="alternate" hreflang="ru" href="../../ru/views/json-and-xml-views.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within documentation CakePHP Cookbook 3.5" href="../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="documentation CakePHP Cookbook 3.5" href="../index.html" />
    <link rel="up" title="Views (Vues)" href="../views.html" />
    <link rel="next" title="Helpers (Assistants)" href="helpers.html" />
    <link rel="prev" title="Themes" href="themes.html" />

    <script type="text/javascript">
    window.lang = "fr";
    </script>
  </head>
  <body>

<div id="container">
    
    <header class="nav-down">
        <div class="container-fluid hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-9 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <li class="first">
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
                                <ul class="submenu">
                                    
<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                                </ul>
                            </li>

                            <li><a href="https://cakephp.org/business-solutions">Business Solutions</a></li>
                            <li><a href="https://cakephp.org/writers">Get Paid To Write</a></li>
                            <li><a href="https://cakephp.org/pages/team">Team</a></li>

                            <li>
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
                                <div class="megamenu full">
                                    <div class="row">
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="navbar-right">
                        <button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-bars toggle-modal"></i>
                        </button>
                    </div>
                    <div id="wrap">
                        <form class="search" action="../search.html" method="get">
                            <input name="q" type="search" placeholder="What are you looking for?">
                            <input id="search_submit" value="Recherche" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <section id="nav-cook" class="hidden-xs hidden-sm">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-12 back-book">
                        <div class="col-md-5 text-center t-cook-nav p0 hidden-sm hidden-xs">
                            <h2>
                                <a href="../contents.html">
                                    <span class="glyph_range icon-submenu icon-submenu-cook">B</span>
                                    CakePHP 3.5 Red Velvet <strong>Cookbook</strong>
                                </a>
                            </h2>
                        </div>

                        <div class="col-md-4 hidden-sm">
                            <form class="search" action="../search.html" method="get">
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />

                                <div class="col-md-10 p0">
                                    <input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
                                </div>
                                <div class="col-md-2 p0 search-cook">
                                    <button type="submit">
                                        <span class="glyph_range icon-submenu icon-submenu-cook">A</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="col-md-3">
                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Language:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                                        fr
                                                        <i class="fa fa-menu-en fa-chevron-down"></i>
                                                    </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li><a href="../../en/views/json-and-xml-views.html">en</a></li>
                                            
                                                <li><a href="../../pt/views/json-and-xml-views.html">pt</a></li>
                                            
                                                <li><a href="../../es/views/json-and-xml-views.html">es</a></li>
                                            
                                                <li><a href="../../ja/views/json-and-xml-views.html">ja</a></li>
                                            
                                                <li></li>
                                            
                                                <li><a href="../../zh/views/json-and-xml-views.html">zh</a></li>
                                            
                                                <li><a href="../../tr/views/json-and-xml-views.html">tr</a></li>
                                            
                                                <li><a href="../../ru/views/json-and-xml-views.html">ru</a></li>
                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Version:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://book.cakephp.org/3.0/fr">3.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/2.0/fr">2.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.3/fr/">1.3 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.2/fr/">1.2 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.1/en">1.1 Book</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </header>

    
    <section class="nav-btn visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
                </div>

                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
                </div>
            </div>
        </div>
    </section>

    
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title-cookbook" id="modal-header"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

<div class="container page-container "><div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/docs/edit/3.0/fr/views/json-and-xml-views.rst" target="_blank">
            <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
        </a>
    </div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

    
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3"><div class="page-contents col-sm-5">
                <h3>Page Contents</h3>
                <ul>
<li><a class="reference internal" href="#">Vues JSON et XML</a><ul>
<li><a class="reference internal" href="#activation-des-vues-de-donnees-dans-votre-application">Activation des Vues de Données dans votre Application</a></li>
<li><a class="reference internal" href="#utilisation-des-vues-de-donnees-avec-la-cle-serialize">Utilisation des Vues de Données avec la Clé Serialize</a></li>
<li><a class="reference internal" href="#utilisation-d-une-vue-de-donnees-avec-les-fichiers-de-template">Utilisation d&#8217;une Vue de Données avec les Fichiers de Template</a></li>
<li><a class="reference internal" href="#creer-des-views-xml">Créer des Views XML</a></li>
<li><a class="reference internal" href="#creer-des-views-json">Créer des Views JSON</a><ul>
<li><a class="reference internal" href="#reponse-jsonp">Réponse JSONP</a></li>
</ul>
</li>
<li><a class="reference internal" href="#exemple-d-utilisation">Exemple d&#8217;Utilisation</a></li>
</ul>
</li>
</ul>

            </div><div class="document-body">
            
  <div class="section" id="vues-json-et-xml">
<h1>Vues JSON et XML<a class="headerlink" href="#vues-json-et-xml" title="Lien permanent vers ce titre">¶</a></h1>
<p>Les views <code class="docutils literal"><span class="pre">JsonView</span></code> et <code class="docutils literal"><span class="pre">XmlView</span></code> vous permettent de créer des réponses JSON
et XML, et sont intégrées à
<code class="xref php php-class docutils literal"><span class="pre">Cake\Controller\Component\RequestHandlerComponent</span></code>.</p>
<p>En activant <code class="docutils literal"><span class="pre">RequestHandlerComponent</span></code> dans votre application, et en activant
le support pour les extensions <code class="docutils literal"><span class="pre">json</span></code> et/ou <code class="docutils literal"><span class="pre">xml</span></code>, vous pouvez
automatiquement vous appuyer sur les nouvelles classes de vue. <code class="docutils literal"><span class="pre">JsonView</span></code> et
<code class="docutils literal"><span class="pre">XmlView</span></code> feront référence aux vues de données pour le reste de cette page.</p>
<p>Il y a deux façons de générer des vues de données. La première est en utilisant
la clé <code class="docutils literal"><span class="pre">_serialize</span></code>, et la seconde en créant des fichiers de template normaux.</p>
<div class="section" id="activation-des-vues-de-donnees-dans-votre-application">
<h2>Activation des Vues de Données dans votre Application<a class="headerlink" href="#activation-des-vues-de-donnees-dans-votre-application" title="Lien permanent vers ce titre">¶</a></h2>
<p>Avant que vous ne puissiez utiliser les classes de vue de données, vous devrez
charger <code class="xref php php-class docutils literal"><span class="pre">Cake\Controller\Component\RequestHandlerComponent</span></code> dans
votre controller:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
<span class="p">{</span>
    <span class="o">...</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Ceci peut être fait dans votre <cite>AppController</cite> et va activer automatiquement
la classe de vue en s&#8217;adaptant selon les types de contenu. Vous pouvez aussi
configurer le component avec le paramètre <code class="docutils literal"><span class="pre">viewClassMap</span></code>, pour faire
correspondre les types à vos classes personnalisées et/ou les faire correspondre
à d&#8217;autres types de données.</p>
<p>Vous pouvez en option activer les extensions json et ou xml avec les
<a class="reference internal" href="../development/routing.html#file-extensions"><span class="std std-ref">Routing des Extensions de Fichier</span></a>. Ceci va vous permettre d&#8217;accéder à <code class="docutils literal"><span class="pre">JSON</span></code>, <code class="docutils literal"><span class="pre">XML</span></code> ou
tout autre format spécial de vue en utilisant une URL personnalisée finissant
avec le nom du type de réponse en tant qu&#8217;extension de fichier comme par
exemple <code class="docutils literal"><span class="pre">http://example.com/articles.json</span></code>.</p>
<p>Par défaut, quand vous n&#8217;activez pas les <a class="reference internal" href="../development/routing.html#file-extensions"><span class="std std-ref">Routing des Extensions de Fichier</span></a>, l&#8217;en-tête
<code class="docutils literal"><span class="pre">Accept</span></code> de la requête est utilisé pour sélectionner le type de format qui
doit être rendu à l&#8217;utilisateur. Un exemple de format <code class="docutils literal"><span class="pre">Accept</span></code> utilisé pour
rendre les réponses <code class="docutils literal"><span class="pre">JSON</span></code> est <code class="docutils literal"><span class="pre">application/json</span></code>.</p>
</div>
<div class="section" id="utilisation-des-vues-de-donnees-avec-la-cle-serialize">
<h2>Utilisation des Vues de Données avec la Clé Serialize<a class="headerlink" href="#utilisation-des-vues-de-donnees-avec-la-cle-serialize" title="Lien permanent vers ce titre">¶</a></h2>
<p>La clé <code class="docutils literal"><span class="pre">_serialize</span></code> est une variable de vue spéciale qui indique quelle(s)
autre(s) variable(s) de vue devrai(en)t être sérialisée(s) quand on utilise la
vue de données. Cela vous permet de sauter la définition des fichiers de
template pour vos actions de controller si vous n&#8217;avez pas besoin de faire un
formatage avant que vos données ne soient converties en json/xml.</p>
<p>Si vous avez besoin de faire tout type de formatage ou de manipulation de vos
variables de vue avant la génération de la réponse, vous devrez utiliser les
fichiers de template. La valeur de <code class="docutils literal"><span class="pre">_serialize</span></code> peut être soit une chaîne de
caractère, soit un tableau de variables de vue à sérialiser:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ArticlesController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">index</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="c1">// Défini les variables de vues qui doivent être sérialisées.</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;articles&#39;</span><span class="p">,</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">paginate</span><span class="p">());</span>

        <span class="c1">// Spécifie quelles variables de vues JsonView doit sérialiser.</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_serialize&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;articles&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Vous pouvez aussi définir <code class="docutils literal"><span class="pre">_serialize</span></code> en tableau de variables de vue à
combiner:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ArticlesController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">index</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="c1">// Du code qui crée created $articles et $comments</span>

        <span class="c1">// Définit les variables de vues qui doivent être sérialisées.</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="nb">compact</span><span class="p">(</span><span class="s1">&#39;articles&#39;</span><span class="p">,</span> <span class="s1">&#39;comments&#39;</span><span class="p">));</span>

        <span class="c1">// Spécifie les variables de vues JsonView à sérialiser.</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_serialize&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;articles&#39;</span><span class="p">,</span> <span class="s1">&#39;comments&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Définir <code class="docutils literal"><span class="pre">_serialize</span></code> en tableau comporte le bénéfice supplémentaire d&#8217;ajouter
automatiquement un élément de top-niveau <code class="docutils literal"><span class="pre">&lt;response&gt;</span></code> en utilisant
<a class="reference internal" href="#XmlView" title="XmlView"><code class="xref php php-class docutils literal"><span class="pre">XmlView</span></code></a>. Si vous utilisez une valeur de chaîne de caractère pour
<code class="docutils literal"><span class="pre">_serialize</span></code> et XmlView, assurez-vous que vos variables de vue aient un
élément unique de top-niveau. Sans un élément de top-niveau, le Xml ne pourra
être généré.</p>
<div class="versionadded">
<p><span class="versionmodified">Nouveau dans la version 3.1.0: </span>Dans cette version, la variable <code class="docutils literal"><span class="pre">_serialize</span></code> est maintenant automatiquement
définie à <code class="docutils literal"><span class="pre">true</span></code> pour sérialiser toutes les variables de vue au lieu de
devoir les spécifier explicitement.</p>
</div>
</div>
<div class="section" id="utilisation-d-une-vue-de-donnees-avec-les-fichiers-de-template">
<h2>Utilisation d&#8217;une Vue de Données avec les Fichiers de Template<a class="headerlink" href="#utilisation-d-une-vue-de-donnees-avec-les-fichiers-de-template" title="Lien permanent vers ce titre">¶</a></h2>
<p>Vous devrez utiliser les fichiers de template si vous avez besoin de faire des
manipulations du contenu de votre vue avant de créer la sortie finale. Par
exemple, si vous avez des articles, qui ont un champ contenant du HTML généré,
vous aurez probablement envie d&#8217;omettre ceci à partir d&#8217;une réponse JSON.
C&#8217;est une situation où un fichier de vue est utile:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Code du controller</span>
<span class="k">class</span> <span class="nc">ArticlesController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">index</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$articles</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">paginate</span><span class="p">(</span><span class="s1">&#39;Articles&#39;</span><span class="p">);</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="nb">compact</span><span class="p">(</span><span class="s1">&#39;articles&#39;</span><span class="p">));</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="c1">// Code de la vue - src/Template/Articles/json/index.ctp</span>
<span class="k">foreach</span> <span class="p">(</span><span class="nv">$articles</span> <span class="k">as</span> <span class="o">&amp;</span><span class="nv">$article</span><span class="p">)</span> <span class="p">{</span>
    <span class="nb">unset</span><span class="p">(</span><span class="nv">$article</span><span class="o">-&gt;</span><span class="na">generated_html</span><span class="p">);</span>
<span class="p">}</span>
<span class="k">echo</span> <span class="nb">json_encode</span><span class="p">(</span><span class="nb">compact</span><span class="p">(</span><span class="s1">&#39;articles&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>Vous pouvez faire des manipulations encore beaucoup plus complexes, comme
utiliser les helpers pour formater. Les classes de vue ded onnées ne supportent
pas les layouts. Elles supposent que le fichier de vue va afficher le contenu
sérialisé.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Depuis 3.1.0, le AppController du squelette d&#8217;application ajoute
automatiquement <code class="docutils literal"><span class="pre">'_serialize'</span> <span class="pre">=&gt;</span> <span class="pre">true</span></code> à toutes les requêtes XML/JSON.
Vous devrez retirer ce code à partir du callback beforeRender ou définir
<code class="docutils literal"><span class="pre">'_serialize'</span> <span class="pre">=&gt;</span> <span class="pre">false</span></code> dans l&#8217;action de votre controller si vous souhaitez
utiliser les fichiers de vue.</p>
</div>
</div>
<div class="section" id="creer-des-views-xml">
<h2>Créer des Views XML<a class="headerlink" href="#creer-des-views-xml" title="Lien permanent vers ce titre">¶</a></h2>
<dl class="class">
<dt id="XmlView">
<em class="property">class </em><code class="descname">XmlView</code><a class="headerlink" href="#XmlView" title="Lien permanent vers cette définition">¶</a></dt>
<dd></dd></dl>

<p>Par défaut quand on utilise <code class="docutils literal"><span class="pre">_serialize</span></code>, XmlView va envelopper vos
variables de vue sérialisées avec un nœud <code class="docutils literal"><span class="pre">&lt;response&gt;</span></code>. Vous pouvez
définir un nom personnalisé pour ce nœud en utilisant la variable de vue
<code class="docutils literal"><span class="pre">_rootNode</span></code>.</p>
<p>La classe XmlView intègre la variable <code class="docutils literal"><span class="pre">_xmlOptions</span></code> qui vous permet de
personnaliser les options utilisées pour générer le XML, par exemple <code class="docutils literal"><span class="pre">tags</span></code>
au lieu d&#8217;<code class="docutils literal"><span class="pre">attributes</span></code>.</p>
</div>
<div class="section" id="creer-des-views-json">
<h2>Créer des Views JSON<a class="headerlink" href="#creer-des-views-json" title="Lien permanent vers ce titre">¶</a></h2>
<dl class="class">
<dt id="JsonView">
<em class="property">class </em><code class="descname">JsonView</code><a class="headerlink" href="#JsonView" title="Lien permanent vers cette définition">¶</a></dt>
<dd></dd></dl>

<p>La classe JsonView intègre la variable <code class="docutils literal"><span class="pre">_jsonOptions</span></code> qui vous permet de
personnaliser le masque utilisé pour générer le JSON. Regardez la
documentation <a class="reference external" href="http://php.net/json_encode">json_encode</a> sur les valeurs
valides de cette option.</p>
<p>Par exemple, pour serializer le rendu des erreurs de validation des entités de
CakePHP de manière cohérente, vous pouvez le faire de la manière suivante:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Dans l&#39;action de votre controller, quand une sauvegarde échoue</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;errors&#39;</span><span class="p">,</span> <span class="nv">$articles</span><span class="o">-&gt;</span><span class="na">errors</span><span class="p">());</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_jsonOptions&#39;</span><span class="p">,</span> <span class="nx">JSON_FORCE_OBJECT</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_serialize&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;errors&#39;</span><span class="p">]);</span>
</pre></div>
</div>
<div class="section" id="reponse-jsonp">
<h3>Réponse JSONP<a class="headerlink" href="#reponse-jsonp" title="Lien permanent vers ce titre">¶</a></h3>
<p>Quand vous utilisez <code class="docutils literal"><span class="pre">JsonView</span></code>, vous pouvez utiliser la variable de vue
spéciale <code class="docutils literal"><span class="pre">_jsonp</span></code> pour retourner une réponse JSONP. La définir à <code class="docutils literal"><span class="pre">true</span></code>
fait que la classe de vue vérifie si le paramètre de chaine de la requête
nommée &#8220;callback&#8221; est défini et si c&#8217;est le cas, permet d&#8217;envelopper la réponse
json dans le nom de la fonction fournie. Si vous voulez utiliser un nom
personnalisé de paramètre de requête à la place de &#8220;callback&#8221;, définissez
<code class="docutils literal"><span class="pre">_jsonp</span></code> avec le nom requis à la place de <code class="docutils literal"><span class="pre">true</span></code>.</p>
</div>
</div>
<div class="section" id="exemple-d-utilisation">
<h2>Exemple d&#8217;Utilisation<a class="headerlink" href="#exemple-d-utilisation" title="Lien permanent vers ce titre">¶</a></h2>
<p>Alors que <a class="reference internal" href="../controllers/components/request-handling.html"><span class="doc">RequestHandlerComponent</span></a> peut automatiquement définir la vue
en fonction du content-type ou de l&#8217;extension de la requête, vous pouvez aussi
gérer les mappings de vue dans votre controller:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// src/Controller/VideosController.php</span>
<span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">App\Controller\AppController</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\Network\Exception\NotFoundException</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">VideosController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">export</span><span class="p">(</span><span class="nv">$format</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$format</span> <span class="o">=</span> <span class="nb">strtolower</span><span class="p">(</span><span class="nv">$format</span><span class="p">);</span>

        <span class="c1">// Format pour le view mapping</span>
        <span class="nv">$formats</span> <span class="o">=</span> <span class="p">[</span>
          <span class="s1">&#39;xml&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Xml&#39;</span><span class="p">,</span>
          <span class="s1">&#39;json&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Json&#39;</span><span class="p">,</span>
        <span class="p">];</span>

        <span class="c1">// Erreur sur un type inconnu</span>
        <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$formats</span><span class="p">[</span><span class="nv">$format</span><span class="p">]))</span> <span class="p">{</span>
            <span class="k">throw</span> <span class="k">new</span> <span class="nx">NotFoundException</span><span class="p">(</span><span class="nx">__</span><span class="p">(</span><span class="s1">&#39;Unknown format.&#39;</span><span class="p">));</span>
        <span class="p">}</span>

        <span class="c1">// Définit le format de la Vue</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">viewBuilder</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">className</span><span class="p">(</span><span class="nv">$formats</span><span class="p">[</span><span class="nv">$format</span><span class="p">]);</span>

        <span class="c1">// Définit le téléchargement forcé</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">response</span><span class="o">-&gt;</span><span class="na">download</span><span class="p">(</span><span class="s1">&#39;report-&#39;</span> <span class="o">.</span> <span class="nb">date</span><span class="p">(</span><span class="s1">&#39;YmdHis&#39;</span><span class="p">)</span> <span class="o">.</span> <span class="s1">&#39;.&#39;</span> <span class="o">.</span> <span class="nv">$format</span><span class="p">);</span>

        <span class="c1">// Récupérer les données</span>
        <span class="nv">$videos</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Videos</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;latest&#39;</span><span class="p">);</span>

        <span class="c1">// Définir les Données de la Vue</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="nb">compact</span><span class="p">(</span><span class="s1">&#39;videos&#39;</span><span class="p">));</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_serialize&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;videos&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>


            </div>
        </div>

        
        <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm" lang="fr">
            <aside class="sidebar">
                <div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<p class="caption"><span class="caption-text">Préface</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../intro.html">CakePHP en un Coup d&#8217;Oeil</a></li>
<li class="toctree-l1"><a class="reference internal" href="../quickstart.html">Guide de Démarrage Rapide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices/3-x-migration-guide.html">3.x Guide de Migration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorials-and-examples.html">Tutoriels et exemples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../contributing.html">Contribuer</a></li>
</ul>
<p class="caption"><span class="caption-text">Pour Commencer</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/request-response.html">Les Objets Request &amp; Response</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/middleware.html">Middleware</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers.html">Controllers (Contrôleurs)</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../views.html">Views (Vues)</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="cells.html">View Cells</a></li>
<li class="toctree-l2"><a class="reference internal" href="themes.html">Themes</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">Vues JSON et XML</a></li>
<li class="toctree-l2"><a class="reference internal" href="helpers.html">Helpers (Assistants)</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../orm.html">Accès Base de Données &amp; ORM</a></li>
</ul>
<p class="caption"><span class="caption-text">Généralités</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../controllers/components/authentication.html">Authentification</a></li>
<li class="toctree-l1"><a class="reference internal" href="../bake.html">Console Bake</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/caching.html">La mise en cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../console-and-shells.html">Outils de Console, Shells, &amp; Tasks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/debugging.html">Debugger</a></li>
<li class="toctree-l1"><a class="reference internal" href="../deployment.html">Déploiement</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/email.html">Email</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/errors.html">Gestion des Erreurs &amp; Exceptions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/events.html">Événements système</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/internationalization-and-localization.html">Internationalisation &amp; Localisation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/logging.html">Journalisation (logging)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/form.html">Formulaires Sans Models</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/components/pagination.html">Pagination</a></li>
<li class="toctree-l1"><a class="reference internal" href="../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/rest.html">REST</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security.html">Sécurité</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/sessions.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/validation.html">Validation</a></li>
</ul>
<p class="caption"><span class="caption-text">Utilitaires</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/app.html">Classe App</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/collections.html">Collections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/file-folder.html">Folder &amp; File</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/hash.html">Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/httpclient.html">Client Http</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/inflector.html">Inflector</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/number.html">Number</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/registry-objects.html">Objets Registry</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/text.html">Text</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/time.html">Date &amp; Time</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/xml.html">Xml</a></li>
</ul>
<p class="caption"><span class="caption-text">Divers</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/global-constants-and-functions.html">Globales &amp; Fonctions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../chronos.html">Chronos</a></li>
<li class="toctree-l1"><a class="reference internal" href="../debug-kit.html">Debug Kit</a></li>
<li class="toctree-l1"><a class="reference internal" href="../migrations.html">Migrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../elasticsearch.html">ElasticSearch</a></li>
<li class="toctree-l1"><a class="reference internal" href="../upgrade-tool.html">Outil d&#8217;Upgrade</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices.html">Annexes</a></li>
</ul>

</div>

                </div>
            </aside>
            <aside class="sidebar">
                <div class="mb30 row">
                </div>
            </aside>
        </div>
    </div>
</div>

<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3">
                    <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="https://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="https://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="https://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="https://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="https://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="https://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="../_static/open-hub.png">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="../_static/rackspace.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        <li class="menu-title">
    <a href="https://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
    <a href="https://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                            &copy; Copyright 2017, Cake Software Foundation, Inc.
                        Mis à jour le août 30, 2017.
                        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  </body>
</html>