

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Cookie" lang="fr" name="title" />
<meta content="array controller,php setcookie,cookie string,controller setup,string domain,default description,string name,session cookie,integers,variables,domain name,null" lang="fr" name="keywords" />

    <title>CookieComponent - 3.x</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="en" href="../../../en/controllers/components/cookie.html" /><link rel="alternate" hreflang="pt_BR" href="../../../pt/controllers/components/cookie.html" /><link rel="alternate" hreflang="es" href="../../../es/controllers/components/cookie.html" /><link rel="alternate" hreflang="ja" href="../../../ja/controllers/components/cookie.html" /><link rel="alternate" hreflang="zh" href="../../../zh/controllers/components/cookie.html" /><link rel="alternate" hreflang="tr" href="../../../tr/controllers/components/cookie.html" /><link rel="alternate" hreflang="ru" href="../../../ru/controllers/components/cookie.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within documentation CakePHP Cookbook 3.5" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="documentation CakePHP Cookbook 3.5" href="../../index.html" />
    <link rel="up" title="Components (Composants)" href="../components.html" />
    <link rel="next" title="Cross Site Request Forgery" href="csrf.html" />
    <link rel="prev" title="Authentification" href="authentication.html" />

    <script type="text/javascript">
    window.lang = "fr";
    </script>
  </head>
  <body>

<div id="container">
    
    <header class="nav-down">
        <div class="container-fluid hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-9 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <li class="first">
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
                                <ul class="submenu">
                                    
<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                                </ul>
                            </li>

                            <li><a href="https://cakephp.org/business-solutions">Business Solutions</a></li>
                            <li><a href="https://cakephp.org/writers">Get Paid To Write</a></li>
                            <li><a href="https://cakephp.org/pages/team">Team</a></li>

                            <li>
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
                                <div class="megamenu full">
                                    <div class="row">
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="navbar-right">
                        <button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-bars toggle-modal"></i>
                        </button>
                    </div>
                    <div id="wrap">
                        <form class="search" action="../../search.html" method="get">
                            <input name="q" type="search" placeholder="What are you looking for?">
                            <input id="search_submit" value="Recherche" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <section id="nav-cook" class="hidden-xs hidden-sm">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-12 back-book">
                        <div class="col-md-5 text-center t-cook-nav p0 hidden-sm hidden-xs">
                            <h2>
                                <a href="../../contents.html">
                                    <span class="glyph_range icon-submenu icon-submenu-cook">B</span>
                                    CakePHP 3.5 Red Velvet <strong>Cookbook</strong>
                                </a>
                            </h2>
                        </div>

                        <div class="col-md-4 hidden-sm">
                            <form class="search" action="../../search.html" method="get">
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />

                                <div class="col-md-10 p0">
                                    <input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
                                </div>
                                <div class="col-md-2 p0 search-cook">
                                    <button type="submit">
                                        <span class="glyph_range icon-submenu icon-submenu-cook">A</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="col-md-3">
                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Language:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                                        fr
                                                        <i class="fa fa-menu-en fa-chevron-down"></i>
                                                    </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li><a href="../../../en/controllers/components/cookie.html">en</a></li>
                                            
                                                <li><a href="../../../pt/controllers/components/cookie.html">pt</a></li>
                                            
                                                <li><a href="../../../es/controllers/components/cookie.html">es</a></li>
                                            
                                                <li><a href="../../../ja/controllers/components/cookie.html">ja</a></li>
                                            
                                                <li></li>
                                            
                                                <li><a href="../../../zh/controllers/components/cookie.html">zh</a></li>
                                            
                                                <li><a href="../../../tr/controllers/components/cookie.html">tr</a></li>
                                            
                                                <li><a href="../../../ru/controllers/components/cookie.html">ru</a></li>
                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Version:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://book.cakephp.org/3.0/fr">3.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/2.0/fr">2.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.3/fr/">1.3 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.2/fr/">1.2 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.1/en">1.1 Book</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </header>

    
    <section class="nav-btn visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
                </div>

                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
                </div>
            </div>
        </div>
    </section>

    
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title-cookbook" id="modal-header"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

<div class="container page-container "><div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/docs/edit/3.0/fr/controllers/components/cookie.rst" target="_blank">
            <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
        </a>
    </div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

    
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3"><div class="page-contents col-sm-5">
                <h3>Page Contents</h3>
                <ul>
<li><a class="reference internal" href="#">CookieComponent</a><ul>
<li><a class="reference internal" href="#parametrage-des-cookies">Paramétrage des Cookies</a></li>
<li><a class="reference internal" href="#utiliser-le-component">Utiliser le Component</a></li>
</ul>
</li>
</ul>

            </div><div class="document-body">
            
  <div class="section" id="namespace-Cake\Controller\Component">
<span id="cookiecomponent"></span><h1>CookieComponent<a class="headerlink" href="#namespace-Cake\Controller\Component" title="Lien permanent vers ce titre">¶</a></h1>
<dl class="class">
<dt id="Cake\Controller\Component\CookieComponent">
<em class="property">class </em><code class="descclassname">Cake\Controller\Component\</code><code class="descname">CookieComponent</code><span class="sig-paren">(</span><em>ComponentRegistry $collection</em>, <em>array $config = []</em><span class="sig-paren">)</span><a class="headerlink" href="#Cake\Controller\Component\CookieComponent" title="Lien permanent vers cette définition">¶</a></dt>
<dd></dd></dl>

<p>Le component Cookie est un conteneur de la méthode native de PHP
<code class="docutils literal"><span class="pre">setcookie()</span></code>. Il simplifie la manipulation des cookies et chiffre
automatiquement les données du cookie.
Les cookies ajoutés via le CookieComponent seront seulement envoyés si l&#8217;action
du controller se termine.</p>
<div class="deprecated">
<p><span class="versionmodified">Obsolète depuis la version 3.5.0: </span>Vous devriez utiliser le <a class="reference internal" href="../middleware.html#encrypted-cookie-middleware"><span class="std std-ref">Middleware de Gestion de Cookies Chiffrés</span></a> à la place du
<code class="docutils literal"><span class="pre">CookieComponent</span></code>.</p>
</div>
<div class="section" id="parametrage-des-cookies">
<h2>Paramétrage des Cookies<a class="headerlink" href="#parametrage-des-cookies" title="Lien permanent vers ce titre">¶</a></h2>
<p>Les cookies peuvent être configurés soit globalement, soit au niveau supérieur.
Les données de configuration globale seront fusionnées avec la configuration de
niveau supérieur. Donc vous devez simplement surcharger les parties qui sont
différentes. Pour configurer les paramètres globaux, utilisez la méthode
<code class="docutils literal"><span class="pre">config()</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">config</span><span class="p">(</span><span class="s1">&#39;path&#39;</span><span class="p">,</span> <span class="s1">&#39;/&#39;</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">config</span><span class="p">([</span>
    <span class="s1">&#39;expires&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;+10 days&#39;</span><span class="p">,</span>
    <span class="s1">&#39;httpOnly&#39;</span> <span class="o">=&gt;</span> <span class="k">true</span>
<span class="p">]);</span>
</pre></div>
</div>
<p>pour configurer une clé spécifique, utilisez la méthode <code class="docutils literal"><span class="pre">configKey()</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">config</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">,</span> <span class="s1">&#39;path&#39;</span><span class="p">,</span> <span class="s1">&#39;/&#39;</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">configKey</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">,</span> <span class="p">[</span>
    <span class="s1">&#39;expires&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;+10 days&#39;</span><span class="p">,</span>
    <span class="s1">&#39;httpOnly&#39;</span> <span class="o">=&gt;</span> <span class="k">true</span>
<span class="p">]);</span>
</pre></div>
</div>
<p>Il y a plusieurs valeurs de configuration pour les cookies:</p>
<dl class="docutils">
<dt>expires</dt>
<dd>Combien de temps les cookies doivent durer. Par défaut 1 mois.</dd>
<dt>path</dt>
<dd>Le chemin sur le serveur web dans lequel le cookie sera disponible. Si le
chemin est défini à &#8216;/foo/&#8217;, le cookie sera seulement disponible dans le
répertoire /foo/ et tous ses sous-répertoires comme /foo/bar/ du domaine.
La valeur par défaut est le chemin de base de votre application.</dd>
<dt>domain</dt>
<dd>Le domaine pour lequel le cookie est disponible. Pour rendre le cookie
disponible sur tous les sous-domaines de example.com, définissez le domaine
à &#8216;.example.com&#8217;.</dd>
<dt>secure</dt>
<dd>Indique que le cookie soit être transmis avec une connection sécurisée
HTTPS. Quand il est défini à <code class="docutils literal"><span class="pre">true</span></code>, le cookie ne sera défini que si une
connection sécurisée existe.</dd>
<dt>key</dt>
<dd>La clé de chiffrement utilisé quand les cookies chiffrés sont activés. Par
défaut à Security.salt.</dd>
<dt>httpOnly</dt>
<dd>Défini à <code class="docutils literal"><span class="pre">true</span></code> pour ne faire que des cookies HTTP. Les Cookies qui sont
HTTPOnly ne sont pas accessible en JavaScript. Par défaut à <code class="docutils literal"><span class="pre">false</span></code>.</dd>
<dt>encryption</dt>
<dd>Le type de chiffrement à utiliser. Par défaut à &#8216;aes&#8217;. Peut aussi être
&#8216;rijndael&#8217; pour une compatibilité rétroactive.</dd>
</dl>
</div>
<div class="section" id="utiliser-le-component">
<h2>Utiliser le Component<a class="headerlink" href="#utiliser-le-component" title="Lien permanent vers ce titre">¶</a></h2>
<p>Le Component Cookie offre plusieurs méthodes pour travailler avec les Cookies.</p>
<dl class="method">
<dt id="Cake\Controller\Component\CookieComponent::write">
<code class="descclassname">Cake\Controller\Component\CookieComponent::</code><code class="descname">write</code><span class="sig-paren">(</span><em>mixed $key</em>, <em>mixed $value = null</em><span class="sig-paren">)</span><a class="headerlink" href="#Cake\Controller\Component\CookieComponent::write" title="Lien permanent vers cette définition">¶</a></dt>
<dd><p>La méthode write() est le cœur du composant Cookie. $key est le
nom de la variable désirée, et $value est l&#8217;information à stocker:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Vous pouvez également grouper vos variables en utilisant la notation point
&#8216;.&#8217; dans les paramètres de clé:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User.name&#39;</span><span class="p">,</span> <span class="s1">&#39;Larry&#39;</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User.role&#39;</span><span class="p">,</span> <span class="s1">&#39;Lead&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>Si vous voulez écrire plus d&#8217;une valeur dans le cookie en une fois, vous
pouvez passer un tableau:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">write</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">,</span>
    <span class="p">[</span><span class="s1">&#39;name&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Larry&#39;</span><span class="p">,</span> <span class="s1">&#39;role&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Lead&#39;</span><span class="p">]</span>
<span class="p">);</span>
</pre></div>
</div>
<p>Toutes les valeurs dans le cookie sont chiffrées avec AES par défaut. Si
vous voulez stocker les valeurs en texte, assurez-vous de configurer
l&#8217;espace de la clé:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">configKey</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">,</span> <span class="s1">&#39;encryption&#39;</span><span class="p">,</span> <span class="k">false</span><span class="p">);</span>
</pre></div>
</div>
</dd></dl>

<dl class="method">
<dt id="Cake\Controller\Component\CookieComponent::read">
<code class="descclassname">Cake\Controller\Component\CookieComponent::</code><code class="descname">read</code><span class="sig-paren">(</span><em>mixed $key = null</em><span class="sig-paren">)</span><a class="headerlink" href="#Cake\Controller\Component\CookieComponent::read" title="Lien permanent vers cette définition">¶</a></dt>
<dd><p>Cette méthode est utilisée pour lire la valeur d&#8217;une variable de cookie
avec le nom spécifié dans $key:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Sortie &quot;Larry&quot;</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">);</span>

<span class="c1">// Vous pouvez aussi utiliser la notation par point pour lire</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;User.name&#39;</span><span class="p">);</span>

<span class="c1">// Pour récupérer les variables que vous aviez groupées en utilisant</span>
<span class="c1">// la notation par point comme tableau, faites quelque chose comme</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">read</span><span class="p">(</span><span class="s1">&#39;User&#39;</span><span class="p">);</span>

<span class="c1">// ceci retourne quelque chose comme [&#39;name&#39; =&gt; &#39;Larry&#39;, &#39;role&#39; =&gt; &#39;Lead&#39;]</span>
</pre></div>
</div>
<div class="admonition warning">
<p class="first admonition-title">Avertissement</p>
<p class="last">CookieComponent ne peut pas intéragir avec les valeurs de chaînes vides
qui contiennent <code class="docutils literal"><span class="pre">,</span></code>. Le component va tenter d&#8217;interpreter ces valeurs
en tableaux, ce qui conduit à des résultats incorrects. A la place, vous
devez utiliser <code class="docutils literal"><span class="pre">$request-&gt;getCookie()</span></code>.</p>
</div>
</dd></dl>

<dl class="method">
<dt id="Cake\Controller\Component\CookieComponent::check">
<code class="descclassname">Cake\Controller\Component\CookieComponent::</code><code class="descname">check</code><span class="sig-paren">(</span><em>$key</em><span class="sig-paren">)</span><a class="headerlink" href="#Cake\Controller\Component\CookieComponent::check" title="Lien permanent vers cette définition">¶</a></dt>
<dd><table class="docutils field-list" frame="void" rules="none">
<col class="field-name" />
<col class="field-body" />
<tbody valign="top">
<tr class="field-odd field"><th class="field-name">Paramètres:</th><td class="field-body"><ul class="first last simple">
<li><strong>$key</strong> (<em>string</em>) &#8211; La clé à vérifier.</li>
</ul>
</td>
</tr>
</tbody>
</table>
<p>Utilisé pour vérifier si une clé/chemin existe et a une valeur non null.</p>
</dd></dl>

<dl class="method">
<dt id="Cake\Controller\Component\CookieComponent::delete">
<code class="descclassname">Cake\Controller\Component\CookieComponent::</code><code class="descname">delete</code><span class="sig-paren">(</span><em>mixed $key</em><span class="sig-paren">)</span><a class="headerlink" href="#Cake\Controller\Component\CookieComponent::delete" title="Lien permanent vers cette définition">¶</a></dt>
<dd><p>Efface une variable de cookie dont le nom est défini dans $key. Fonctionne
avec la notation par point:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Efface une variable</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">delete</span><span class="p">(</span><span class="s1">&#39;bar&#39;</span><span class="p">);</span>

<span class="c1">// Efface la variable bar du cookie, mais rien d&#39;autre sous foo.</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Cookie</span><span class="o">-&gt;</span><span class="na">delete</span><span class="p">(</span><span class="s1">&#39;foo.bar&#39;</span><span class="p">);</span>
</pre></div>
</div>
</dd></dl>

</div>
</div>


            </div>
        </div>

        
        <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm" lang="fr">
            <aside class="sidebar">
                <div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<p class="caption"><span class="caption-text">Préface</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../intro.html">CakePHP en un Coup d&#8217;Oeil</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../quickstart.html">Guide de Démarrage Rapide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices/3-x-migration-guide.html">3.x Guide de Migration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">Tutoriels et exemples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">Contribuer</a></li>
</ul>
<p class="caption"><span class="caption-text">Pour Commencer</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../request-response.html">Les Objets Request &amp; Response</a></li>
<li class="toctree-l1"><a class="reference internal" href="../middleware.html">Middleware</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../controllers.html">Controllers (Contrôleurs)</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../pages-controller.html">Le Controller Pages</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../components.html">Components (Composants)</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentification</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">CookieComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="csrf.html">Cross Site Request Forgery</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">FlashComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="security.html">SecurityComponent (Sécurité)</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="request-handling.html">Request Handling (Gestion des requêtes)</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">Views (Vues)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../orm.html">Accès Base de Données &amp; ORM</a></li>
</ul>
<p class="caption"><span class="caption-text">Généralités</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="authentication.html">Authentification</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bake.html">Console Bake</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/caching.html">La mise en cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Outils de Console, Shells, &amp; Tasks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/debugging.html">Debugger</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">Déploiement</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/email.html">Email</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/errors.html">Gestion des Erreurs &amp; Exceptions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/events.html">Événements système</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/internationalization-and-localization.html">Internationalisation &amp; Localisation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/logging.html">Journalisation (logging)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/form.html">Formulaires Sans Models</a></li>
<li class="toctree-l1"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/rest.html">REST</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../security.html">Sécurité</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/sessions.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/validation.html">Validation</a></li>
</ul>
<p class="caption"><span class="caption-text">Utilitaires</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/app.html">Classe App</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/collections.html">Collections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/file-folder.html">Folder &amp; File</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/hash.html">Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/httpclient.html">Client Http</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/inflector.html">Inflector</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/number.html">Number</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/registry-objects.html">Objets Registry</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/text.html">Text</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/time.html">Date &amp; Time</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/xml.html">Xml</a></li>
</ul>
<p class="caption"><span class="caption-text">Divers</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/global-constants-and-functions.html">Globales &amp; Fonctions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../chronos.html">Chronos</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../debug-kit.html">Debug Kit</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../migrations.html">Migrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../elasticsearch.html">ElasticSearch</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../upgrade-tool.html">Outil d&#8217;Upgrade</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Annexes</a></li>
</ul>

</div>

                </div>
            </aside>
            <aside class="sidebar">
                <div class="mb30 row">
                </div>
            </aside>
        </div>
    </div>
</div>

<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3">
                    <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="https://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="https://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="https://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="https://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="https://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="https://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="../../_static/open-hub.png">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="../../_static/rackspace.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        <li class="menu-title">
    <a href="https://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
    <a href="https://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                            &copy; Copyright 2017, Cake Software Foundation, Inc.
                        Mis à jour le août 30, 2017.
                        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  </body>
</html>