

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Csrf" lang="fr" name="title" />
<meta content="paramètres configurables,component security,paramètres de configuration,requête invalide,csrf,soumettre" lang="fr" name="keywords" />

    <title>Cross Site Request Forgery - 3.x</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="en" href="../../../en/controllers/components/csrf.html" /><link rel="alternate" hreflang="pt_BR" href="../../../pt/controllers/components/csrf.html" /><link rel="alternate" hreflang="es" href="../../../es/controllers/components/csrf.html" /><link rel="alternate" hreflang="ja" href="../../../ja/controllers/components/csrf.html" /><link rel="alternate" hreflang="zh" href="../../../zh/controllers/components/csrf.html" /><link rel="alternate" hreflang="tr" href="../../../tr/controllers/components/csrf.html" /><link rel="alternate" hreflang="ru" href="../../../ru/controllers/components/csrf.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within documentation CakePHP Cookbook 3.5" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="documentation CakePHP Cookbook 3.5" href="../../index.html" />
    <link rel="up" title="Components (Composants)" href="../components.html" />
    <link rel="next" title="FlashComponent" href="flash.html" />
    <link rel="prev" title="CookieComponent" href="cookie.html" />

    <script type="text/javascript">
    window.lang = "fr";
    </script>
  </head>
  <body>

<div id="container">
    
    <header class="nav-down">
        <div class="container-fluid hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-9 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <li class="first">
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
                                <ul class="submenu">
                                    
<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                                </ul>
                            </li>

                            <li><a href="https://cakephp.org/business-solutions">Business Solutions</a></li>
                            <li><a href="https://cakephp.org/writers">Get Paid To Write</a></li>
                            <li><a href="https://cakephp.org/pages/team">Team</a></li>

                            <li>
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
                                <div class="megamenu full">
                                    <div class="row">
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="navbar-right">
                        <button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-bars toggle-modal"></i>
                        </button>
                    </div>
                    <div id="wrap">
                        <form class="search" action="../../search.html" method="get">
                            <input name="q" type="search" placeholder="What are you looking for?">
                            <input id="search_submit" value="Recherche" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <section id="nav-cook" class="hidden-xs hidden-sm">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-12 back-book">
                        <div class="col-md-5 text-center t-cook-nav p0 hidden-sm hidden-xs">
                            <h2>
                                <a href="../../contents.html">
                                    <span class="glyph_range icon-submenu icon-submenu-cook">B</span>
                                    CakePHP 3.5 Red Velvet <strong>Cookbook</strong>
                                </a>
                            </h2>
                        </div>

                        <div class="col-md-4 hidden-sm">
                            <form class="search" action="../../search.html" method="get">
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />

                                <div class="col-md-10 p0">
                                    <input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
                                </div>
                                <div class="col-md-2 p0 search-cook">
                                    <button type="submit">
                                        <span class="glyph_range icon-submenu icon-submenu-cook">A</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="col-md-3">
                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Language:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                                        fr
                                                        <i class="fa fa-menu-en fa-chevron-down"></i>
                                                    </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li><a href="../../../en/controllers/components/csrf.html">en</a></li>
                                            
                                                <li><a href="../../../pt/controllers/components/csrf.html">pt</a></li>
                                            
                                                <li><a href="../../../es/controllers/components/csrf.html">es</a></li>
                                            
                                                <li><a href="../../../ja/controllers/components/csrf.html">ja</a></li>
                                            
                                                <li></li>
                                            
                                                <li><a href="../../../zh/controllers/components/csrf.html">zh</a></li>
                                            
                                                <li><a href="../../../tr/controllers/components/csrf.html">tr</a></li>
                                            
                                                <li><a href="../../../ru/controllers/components/csrf.html">ru</a></li>
                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Version:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://book.cakephp.org/3.0/fr">3.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/2.0/fr">2.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.3/fr/">1.3 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.2/fr/">1.2 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.1/en">1.1 Book</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </header>

    
    <section class="nav-btn visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
                </div>

                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
                </div>
            </div>
        </div>
    </section>

    
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title-cookbook" id="modal-header"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

<div class="container page-container "><div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/docs/edit/3.0/fr/controllers/components/csrf.rst" target="_blank">
            <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
        </a>
    </div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

    
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3"><div class="page-contents col-sm-5">
                <h3>Page Contents</h3>
                <ul>
<li><a class="reference internal" href="#">Cross Site Request Forgery</a><ul>
<li><a class="reference internal" href="#utiliser-le-csrfcomponent">Utiliser le CsrfComponent</a></li>
<li><a class="reference internal" href="#integration-avec-le-formhelper">Intégration avec le FormHelper</a></li>
<li><a class="reference internal" href="#protection-csrf-et-requetes-ajax">Protection CSRF et Requêtes AJAX</a></li>
<li><a class="reference internal" href="#desactiver-le-component-csrf-pour-des-actions-specifiques">Désactiver le Component CSRF pour des Actions Spécifiques</a></li>
</ul>
</li>
</ul>

            </div><div class="document-body">
            
  <div class="section" id="cross-site-request-forgery">
<h1>Cross Site Request Forgery<a class="headerlink" href="#cross-site-request-forgery" title="Lien permanent vers ce titre">¶</a></h1>
<p>En activant le component CSRFComponent vous bénéficiez d&#8217;une protection contre
les attaques <a class="reference external" href="http://fr.wikipedia.org/wiki/Cross-Site_Request_Forgery">CSRF</a>
ou &#8220;Cross Site Request Forgery&#8221; qui est une vulnérabilité habituelle dans les
applications web. Cela permet à un attaquant de capturer et rejouer une requête
précédente, et parfois soumettre des données en utilisant des balises images ou
des ressources sur d&#8217;autres domaines.</p>
<p>Le CsrfComponent fonctionne en installant un cookie sur le navigateur de
l&#8217;utilisateur. Quand des formulaires sont créés à l&#8217;aide du
<a class="reference internal" href="../../views/helpers/form.html#Cake\View\Helper\FormHelper" title="Cake\View\Helper\FormHelper"><code class="xref php php-class docutils literal"><span class="pre">Cake\View\Helper\FormHelper</span></code></a>, un champ caché contenant un jeton
CSRF est ajouté. Au cours de l&#8217;évènement <code class="docutils literal"><span class="pre">Controller.startup</span></code>, si la requête
est de type POST, PUT, DELETE, PATCH, le component va comparer les données de
la requête et la valeur du cookie. Si l&#8217;une des deux est manquantes ou que les
deux valeurs ne correspondent pas, le component lancera une
<a class="reference internal" href="../../development/errors.html#Cake\Network\Exception\InvalidCsrfTokenException" title="Cake\Network\Exception\InvalidCsrfTokenException"><code class="xref php php-class docutils literal"><span class="pre">Cake\Network\Exception\InvalidCsrfTokenException</span></code></a>.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Vous devez toujours vérifier les méthodes HTTP utilisées avant d&#8217;exécuter
d&#8217;autre code. Vous devez <a class="reference internal" href="../request-response.html#check-the-request"><span class="std std-ref">vérifier la méthode HTTP</span></a>
ou utiliser <a class="reference internal" href="../request-response.html#Cake\Http\ServerRequest::allowMethod" title="Cake\Http\ServerRequest::allowMethod"><code class="xref php php-meth docutils literal"><span class="pre">Cake\Http\ServerRequest::allowMethod()</span></code></a> pour vous
assurer que la bonne méthode HTTP est utilisée.</p>
</div>
<div class="versionadded">
<p><span class="versionmodified">Nouveau dans la version 3.1: </span>Le type d&#8217;exception a changé de
<a class="reference internal" href="../../development/errors.html#Cake\Network\Exception\ForbiddenException" title="Cake\Network\Exception\ForbiddenException"><code class="xref php php-class docutils literal"><span class="pre">Cake\Network\Exception\ForbiddenException</span></code></a> en
<a class="reference internal" href="../../development/errors.html#Cake\Network\Exception\InvalidCsrfTokenException" title="Cake\Network\Exception\InvalidCsrfTokenException"><code class="xref php php-class docutils literal"><span class="pre">Cake\Network\Exception\InvalidCsrfTokenException</span></code></a>.</p>
</div>
<div class="deprecated">
<p><span class="versionmodified">Obsolète depuis la version 3.5.0: </span>Vous devriez utiliser le <a class="reference internal" href="../middleware.html#csrf-middleware"><span class="std std-ref">Middleware Cross Site Request Forgery (CSRF)</span></a> à la place du
<code class="docutils literal"><span class="pre">CsrfComponent</span></code>.</p>
</div>
<div class="section" id="utiliser-le-csrfcomponent">
<h2>Utiliser le CsrfComponent<a class="headerlink" href="#utiliser-le-csrfcomponent" title="Lien permanent vers ce titre">¶</a></h2>
<p>En ajoutant simplement le <code class="docutils literal"><span class="pre">CsrfComponent</span></code> à votre tableau de components,
vous pouvez profiter de la protection CSRF fournie:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
<span class="p">{</span>
    <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;Csrf&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Des réglages peuvent être transmis au composant par l&#8217;intermédiaire des
paramètres de votre composant.
Les options de configuration disponibles sont les suivants:</p>
<ul class="simple">
<li><code class="docutils literal"><span class="pre">cookieName</span></code> Le nom du cookie à envoyer. Par défaut <code class="docutils literal"><span class="pre">csrfToken</span></code>.</li>
<li><code class="docutils literal"><span class="pre">expiry</span></code> Durée avant l&#8217;expiration du jeton CSRF. Session du navigateur par
défaut.</li>
<li><code class="docutils literal"><span class="pre">secure</span></code> Si le cookie doit être créé avec Secure flag ou pas. Le cookie ne
sera défini que sur une connection HTTPS et chaque tentative vers du HTTP
standard échouera. Par défaut à <code class="docutils literal"><span class="pre">false</span></code>.</li>
<li><code class="docutils literal"><span class="pre">field</span></code> Le champ de formulaire à vérifier. Par défaut <code class="docutils literal"><span class="pre">_csrfToken</span></code>.
Changer cette valeur nécessite également de configurer le FormHelper.</li>
</ul>
<p>Lorsqu&#8217;il est activé, vous pouvez accéder au jeton CSRF actuel sur l&#8217;objet
request:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$token</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">getParam</span><span class="p">(</span><span class="s1">&#39;_csrfToken&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="integration-avec-le-formhelper">
<h2>Intégration avec le FormHelper<a class="headerlink" href="#integration-avec-le-formhelper" title="Lien permanent vers ce titre">¶</a></h2>
<p>Le CsrfComponent s&#8217;intègre de façon transparente avec <code class="docutils literal"><span class="pre">FormHelper</span></code>. Chaque
fois que vous créez un formulaire avec FormHelper, il va insérer un champ caché
contenant le jeton CSRF.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Lorsque vous utilisez le CsrfComponent vous devez toujours commencer vos
formulaires avec le FormHelper. Si vous ne le faites pas, vous devrez créer
manuellement les champs cachés dans chacun de vos formulaires.</p>
</div>
</div>
<div class="section" id="protection-csrf-et-requetes-ajax">
<h2>Protection CSRF et Requêtes AJAX<a class="headerlink" href="#protection-csrf-et-requetes-ajax" title="Lien permanent vers ce titre">¶</a></h2>
<p>En plus des paramètres de données de requête, les jetons CSRF peuvent être
soumis par le biais d&#8217;un en-tête spécial <code class="docutils literal"><span class="pre">X-CSRF-Token</span></code>. Utiliser un en-tête
facilite souvent l&#8217;intégration des jetons CSRF pour les applications Javascript
lourdes ou pour les API basées sur XML/JSON.</p>
</div>
<div class="section" id="desactiver-le-component-csrf-pour-des-actions-specifiques">
<h2>Désactiver le Component CSRF pour des Actions Spécifiques<a class="headerlink" href="#desactiver-le-component-csrf-pour-des-actions-specifiques" title="Lien permanent vers ce titre">¶</a></h2>
<p>Bien que non recommandé, vous pouvez désactiver le CsrfComponent pour certaines
requêtes. Vous pouvez réalisez ceci en utilisant le dispatcheur d&#8217;event du
controller, au cours de la méthode <code class="docutils literal"><span class="pre">beforeFilter()</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">(</span><span class="nx">Event</span> <span class="nv">$event</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">eventManager</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">off</span><span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Csrf</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>


            </div>
        </div>

        
        <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm" lang="fr">
            <aside class="sidebar">
                <div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<p class="caption"><span class="caption-text">Préface</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../intro.html">CakePHP en un Coup d&#8217;Oeil</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../quickstart.html">Guide de Démarrage Rapide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices/3-x-migration-guide.html">3.x Guide de Migration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">Tutoriels et exemples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">Contribuer</a></li>
</ul>
<p class="caption"><span class="caption-text">Pour Commencer</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../request-response.html">Les Objets Request &amp; Response</a></li>
<li class="toctree-l1"><a class="reference internal" href="../middleware.html">Middleware</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../controllers.html">Controllers (Contrôleurs)</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../pages-controller.html">Le Controller Pages</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../components.html">Components (Composants)</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentification</a></li>
<li class="toctree-l3"><a class="reference internal" href="cookie.html">CookieComponent</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Cross Site Request Forgery</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">FlashComponent</a></li>
<li class="toctree-l3"><a class="reference internal" href="security.html">SecurityComponent (Sécurité)</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="request-handling.html">Request Handling (Gestion des requêtes)</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">Views (Vues)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../orm.html">Accès Base de Données &amp; ORM</a></li>
</ul>
<p class="caption"><span class="caption-text">Généralités</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="authentication.html">Authentification</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bake.html">Console Bake</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/caching.html">La mise en cache</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Outils de Console, Shells, &amp; Tasks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/debugging.html">Debugger</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">Déploiement</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/email.html">Email</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/errors.html">Gestion des Erreurs &amp; Exceptions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/events.html">Événements système</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/internationalization-and-localization.html">Internationalisation &amp; Localisation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/logging.html">Journalisation (logging)</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/form.html">Formulaires Sans Models</a></li>
<li class="toctree-l1"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/rest.html">REST</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../security.html">Sécurité</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/sessions.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/validation.html">Validation</a></li>
</ul>
<p class="caption"><span class="caption-text">Utilitaires</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/app.html">Classe App</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/collections.html">Collections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/file-folder.html">Folder &amp; File</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/hash.html">Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/httpclient.html">Client Http</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/inflector.html">Inflector</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/number.html">Number</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/registry-objects.html">Objets Registry</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/text.html">Text</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/time.html">Date &amp; Time</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/xml.html">Xml</a></li>
</ul>
<p class="caption"><span class="caption-text">Divers</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/global-constants-and-functions.html">Globales &amp; Fonctions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../chronos.html">Chronos</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../debug-kit.html">Debug Kit</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../migrations.html">Migrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../elasticsearch.html">ElasticSearch</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../upgrade-tool.html">Outil d&#8217;Upgrade</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Annexes</a></li>
</ul>

</div>

                </div>
            </aside>
            <aside class="sidebar">
                <div class="mb30 row">
                </div>
            </aside>
        </div>
    </div>
</div>

<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3">
                    <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="https://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="https://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="https://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="https://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="https://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="https://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="../../_static/open-hub.png">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="../../_static/rackspace.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        <li class="menu-title">
    <a href="https://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
    <a href="https://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                            &copy; Copyright 2017, Cake Software Foundation, Inc.
                        Mis à jour le août 30, 2017.
                        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  </body>
</html>