

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>View Cells - 3.x</title>
    <link href="../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../_static/app.js"></script>

    <link rel="alternate" hreflang="pt_BR" href="../../pt/views/cells.html" /><link rel="alternate" hreflang="es" href="../../es/views/cells.html" /><link rel="alternate" hreflang="ja" href="../../ja/views/cells.html" /><link rel="alternate" hreflang="fr" href="../../fr/views/cells.html" /><link rel="alternate" hreflang="zh" href="../../zh/views/cells.html" /><link rel="alternate" hreflang="tr" href="../../tr/views/cells.html" /><link rel="alternate" hreflang="ru" href="../../ru/views/cells.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 3.5 documentation" href="../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 3.5 documentation" href="../index.html" />
    <link rel="up" title="Views" href="../views.html" />
    <link rel="next" title="Themes" href="themes.html" />
    <link rel="prev" title="Views" href="../views.html" />

    <script type="text/javascript">
    window.lang = "en";
    </script>
  </head>
  <body>

<div id="container">
    
    <header class="nav-down">
        <div class="container-fluid hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-9 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <li class="first">
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
                                <ul class="submenu">
                                    
<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                                </ul>
                            </li>

                            <li><a href="https://cakephp.org/business-solutions">Business Solutions</a></li>
                            <li><a href="https://cakephp.org/writers">Get Paid To Write</a></li>
                            <li><a href="https://cakephp.org/pages/team">Team</a></li>

                            <li>
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
                                <div class="megamenu full">
                                    <div class="row">
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="navbar-right">
                        <button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-bars toggle-modal"></i>
                        </button>
                    </div>
                    <div id="wrap">
                        <form class="search" action="../search.html" method="get">
                            <input name="q" type="search" placeholder="What are you looking for?">
                            <input id="search_submit" value="Search" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <section id="nav-cook" class="hidden-xs hidden-sm">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-12 back-book">
                        <div class="col-md-5 text-center t-cook-nav p0 hidden-sm hidden-xs">
                            <h2>
                                <a href="../contents.html">
                                    <span class="glyph_range icon-submenu icon-submenu-cook">B</span>
                                    CakePHP 3.5 Red Velvet <strong>Cookbook</strong>
                                </a>
                            </h2>
                        </div>

                        <div class="col-md-4 hidden-sm">
                            <form class="search" action="../search.html" method="get">
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />

                                <div class="col-md-10 p0">
                                    <input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
                                </div>
                                <div class="col-md-2 p0 search-cook">
                                    <button type="submit">
                                        <span class="glyph_range icon-submenu icon-submenu-cook">A</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="col-md-3">
                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Language:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                                        en
                                                        <i class="fa fa-menu-en fa-chevron-down"></i>
                                                    </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li></li>
                                            
                                                <li><a href="../../pt/views/cells.html">pt</a></li>
                                            
                                                <li><a href="../../es/views/cells.html">es</a></li>
                                            
                                                <li><a href="../../ja/views/cells.html">ja</a></li>
                                            
                                                <li><a href="../../fr/views/cells.html">fr</a></li>
                                            
                                                <li><a href="../../zh/views/cells.html">zh</a></li>
                                            
                                                <li><a href="../../tr/views/cells.html">tr</a></li>
                                            
                                                <li><a href="../../ru/views/cells.html">ru</a></li>
                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Version:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://book.cakephp.org/3.0/en">3.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/2.0/en">2.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.3/en/">1.3 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.2/en/">1.2 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.1/en">1.1 Book</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </header>

    
    <section class="nav-btn visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
                </div>

                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
                </div>
            </div>
        </div>
    </section>

    
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title-cookbook" id="modal-header"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

<div class="container page-container "><div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/docs/edit/3.0/en/views/cells.rst" target="_blank">
            <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
        </a>
    </div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

    
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3"><div class="page-contents col-sm-5">
                <h3>Page Contents</h3>
                <ul>
<li><a class="reference internal" href="#">View Cells</a><ul>
<li><a class="reference internal" href="#when-to-use-cells">When to use Cells</a></li>
<li><a class="reference internal" href="#creating-a-cell">Creating a Cell</a><ul>
<li><a class="reference internal" href="#implementing-the-cell">Implementing the Cell</a></li>
</ul>
</li>
<li><a class="reference internal" href="#loading-cells">Loading Cells</a><ul>
<li><a class="reference internal" href="#passing-arguments-to-a-cell">Passing Arguments to a Cell</a></li>
</ul>
</li>
<li><a class="reference internal" href="#rendering-a-cell">Rendering a Cell</a><ul>
<li><a class="reference internal" href="#rendering-alternate-templates">Rendering Alternate Templates</a></li>
<li><a class="reference internal" href="#caching-cell-output">Caching Cell Output</a></li>
</ul>
</li>
<li><a class="reference internal" href="#paginating-data-inside-a-cell">Paginating Data inside a Cell</a></li>
</ul>
</li>
</ul>

            </div><div class="document-body">
            
  <div class="section" id="view-cells">
<h1>View Cells<a class="headerlink" href="#view-cells" title="Permalink to this headline">¶</a></h1>
<p>View cells are small mini-controllers that can invoke view logic and render out
templates. The idea of cells is borrowed from <a class="reference external" href="https://github.com/apotonick/cells">cells in Ruby</a>, where they fulfill a similar role and
purpose.</p>
<div class="section" id="when-to-use-cells">
<h2>When to use Cells<a class="headerlink" href="#when-to-use-cells" title="Permalink to this headline">¶</a></h2>
<p>Cells are ideal for building reusable page components that require interaction
with models, view logic, and rendering logic. A simple example would be the
cart in an online store, or a data-driven navigation menu in a CMS.</p>
</div>
<div class="section" id="creating-a-cell">
<h2>Creating a Cell<a class="headerlink" href="#creating-a-cell" title="Permalink to this headline">¶</a></h2>
<p>To create a cell, define a class in <strong>src/View/Cell</strong> and a template in
<strong>src/Template/Cell/</strong>. In this example, we&#8217;ll be making a cell to display the
number of messages in a user&#8217;s notification inbox. First, create the class file.
Its contents should look like:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\View\Cell</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Cake\View\Cell</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">InboxCell</span> <span class="k">extends</span> <span class="nx">Cell</span>
<span class="p">{</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">display</span><span class="p">()</span>
    <span class="p">{</span>
    <span class="p">}</span>

<span class="p">}</span>
</pre></div>
</div>
<p>Save this file into <strong>src/View/Cell/InboxCell.php</strong>. As you can see, like other
classes in CakePHP, Cells have a few conventions:</p>
<ul class="simple">
<li>Cells live in the <code class="docutils literal"><span class="pre">App\View\Cell</span></code> namespace. If you are making a cell in
a plugin, the namespace would be <code class="docutils literal"><span class="pre">PluginName\View\Cell</span></code>.</li>
<li>Class names should end in Cell.</li>
<li>Classes should inherit from <code class="docutils literal"><span class="pre">Cake\View\Cell</span></code>.</li>
</ul>
<p>We added an empty <code class="docutils literal"><span class="pre">display()</span></code> method to our cell; this is the conventional
default method when rendering a cell. We&#8217;ll cover how to use other methods later
in the docs. Now, create the file <strong>src/Template/Cell/Inbox/display.ctp</strong>. This
will be our template for our new cell.</p>
<p>You can generate this stub code quickly using <code class="docutils literal"><span class="pre">bake</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nx">bin</span><span class="o">/</span><span class="nx">cake</span> <span class="nx">bake</span> <span class="nx">cell</span> <span class="nx">Inbox</span>
</pre></div>
</div>
<p>Would generate the code we typed out.</p>
<div class="section" id="implementing-the-cell">
<h3>Implementing the Cell<a class="headerlink" href="#implementing-the-cell" title="Permalink to this headline">¶</a></h3>
<p>Assume that we are working on an application that allows users to send messages
to each other. We have a <code class="docutils literal"><span class="pre">Messages</span></code> model, and we want to show the count of
unread messages without having to pollute AppController. This is a perfect use
case for a cell. In the class we just made, add the following:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\View\Cell</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Cake\View\Cell</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">InboxCell</span> <span class="k">extends</span> <span class="nx">Cell</span>
<span class="p">{</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">display</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadModel</span><span class="p">(</span><span class="s1">&#39;Messages&#39;</span><span class="p">);</span>
        <span class="nv">$unread</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Messages</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;unread&#39;</span><span class="p">);</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;unread_count&#39;</span><span class="p">,</span> <span class="nv">$unread</span><span class="o">-&gt;</span><span class="na">count</span><span class="p">());</span>
    <span class="p">}</span>

<span class="p">}</span>
</pre></div>
</div>
<p>Because Cells use the <code class="docutils literal"><span class="pre">ModelAwareTrait</span></code> and <code class="docutils literal"><span class="pre">ViewVarsTrait</span></code>, they behave
very much like a controller would.  We can use the <code class="docutils literal"><span class="pre">loadModel()</span></code> and <code class="docutils literal"><span class="pre">set()</span></code>
methods just like we would in a controller. In our template file, add the
following:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="o">&lt;!--</span> <span class="nx">src</span><span class="o">/</span><span class="nx">Template</span><span class="o">/</span><span class="nx">Cell</span><span class="o">/</span><span class="nx">Inbox</span><span class="o">/</span><span class="nx">display</span><span class="o">.</span><span class="nx">ctp</span> <span class="o">--&gt;</span>
<span class="o">&lt;</span><span class="nx">div</span> <span class="nx">class</span><span class="o">=</span><span class="s2">&quot;notification-icon&quot;</span><span class="o">&gt;</span>
    <span class="nx">You</span> <span class="nx">have</span> <span class="o">&lt;?=</span> <span class="nv">$unread_count</span> <span class="cp">?&gt;</span><span class="x"> unread messages.</span>
<span class="x">&lt;/div&gt;</span>
</pre></div>
</div>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Cell templates have an isolated scope that does not share the same View
instance as the one used to render template and layout for the current
controller action or other cells. Hence they are unaware of any helper calls
made or blocks set in the action&#8217;s template / layout and vice versa.</p>
</div>
</div>
</div>
<div class="section" id="loading-cells">
<h2>Loading Cells<a class="headerlink" href="#loading-cells" title="Permalink to this headline">¶</a></h2>
<p>Cells can be loaded from views using the <code class="docutils literal"><span class="pre">cell()</span></code> method and works the same in
both contexts:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Load an application cell</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">);</span>

<span class="c1">// Load a plugin cell</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Messaging.Inbox&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>The above will load the named cell class and execute the <code class="docutils literal"><span class="pre">display()</span></code> method.
You can execute other methods using the following:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Run the expanded() method on the Inbox cell</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox::expanded&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>If you need controller logic to decide which cells to load in a request, you can
use the <code class="docutils literal"><span class="pre">CellTrait</span></code> in your controller to enable the <code class="docutils literal"><span class="pre">cell()</span></code> method there:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">App\Controller\AppController</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\View\CellTrait</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">DashboardsController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">use</span> <span class="nx">CellTrait</span><span class="p">;</span>

    <span class="c1">// More code.</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="section" id="passing-arguments-to-a-cell">
<h3>Passing Arguments to a Cell<a class="headerlink" href="#passing-arguments-to-a-cell" title="Permalink to this headline">¶</a></h3>
<p>You will often want to parameterize cell methods to make cells more flexible.
By using the second and third arguments of <code class="docutils literal"><span class="pre">cell()</span></code>, you can pass action
parameters and additional options to your cell classes, as an indexed array:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox::recent&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;-3 days&#39;</span><span class="p">]);</span>
</pre></div>
</div>
<p>The above would match the following function signature:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">recent</span><span class="p">(</span><span class="nv">$since</span><span class="p">)</span>
<span class="p">{</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>
<div class="section" id="rendering-a-cell">
<h2>Rendering a Cell<a class="headerlink" href="#rendering-a-cell" title="Permalink to this headline">¶</a></h2>
<p>Once a cell has been loaded and executed, you&#8217;ll probably want to render it. The
easiest way to render a cell is to echo it:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="o">&lt;?=</span> <span class="nv">$cell</span> <span class="cp">?&gt;</span><span class="x"></span>
</pre></div>
</div>
<p>This will render the template matching the lowercased and underscored version of
our action name, e.g. <strong>display.ctp</strong>.</p>
<p>Because cells use <code class="docutils literal"><span class="pre">View</span></code> to render templates, you can load additional cells
within a cell template if required.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">Echoing a cell uses the PHP <code class="docutils literal"><span class="pre">__toString()</span></code> magic method which prevents PHP
from showing the filename and line number for any fatal errors raised. To
obtain a meanful error message, it is recommended to use the
<code class="docutils literal"><span class="pre">Cell::render()</span></code> method, for example <code class="docutils literal"><span class="pre">&lt;?=</span> <span class="pre">$cell-&gt;render()</span> <span class="pre">?&gt;</span></code>.</p>
</div>
<div class="section" id="rendering-alternate-templates">
<h3>Rendering Alternate Templates<a class="headerlink" href="#rendering-alternate-templates" title="Permalink to this headline">¶</a></h3>
<p>By convention cells render templates that match the action they are executing.
If you need to render a different view template, you can specify the template
to use when rendering the cell:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Calling render() explicitly</span>
<span class="k">echo</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox::recent&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;-3 days&#39;</span><span class="p">])</span><span class="o">-&gt;</span><span class="na">render</span><span class="p">(</span><span class="s1">&#39;messages&#39;</span><span class="p">);</span>

<span class="c1">// Set template before echoing the cell.</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">);</span>
<span class="nv">$cell</span><span class="o">-&gt;</span><span class="na">template</span> <span class="o">=</span> <span class="s1">&#39;messages&#39;</span><span class="p">;</span>
<span class="k">echo</span> <span class="nv">$cell</span><span class="p">;</span>
</pre></div>
</div>
</div>
<div class="section" id="caching-cell-output">
<h3>Caching Cell Output<a class="headerlink" href="#caching-cell-output" title="Permalink to this headline">¶</a></h3>
<p>When rendering a cell you may want to cache the rendered output if the contents
don&#8217;t change often or to help improve performance of your application. You can
define the <code class="docutils literal"><span class="pre">cache</span></code> option when creating a cell to enable &amp; configure caching:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Cache using the default config and a generated key</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">,</span> <span class="p">[],</span> <span class="p">[</span><span class="s1">&#39;cache&#39;</span> <span class="o">=&gt;</span> <span class="k">true</span><span class="p">]);</span>

<span class="c1">// Cache to a specific cache config and a generated key</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">,</span> <span class="p">[],</span> <span class="p">[</span><span class="s1">&#39;cache&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;config&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;cell_cache&#39;</span><span class="p">]]);</span>

<span class="c1">// Specify the key and config to use.</span>
<span class="nv">$cell</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">cell</span><span class="p">(</span><span class="s1">&#39;Inbox&#39;</span><span class="p">,</span> <span class="p">[],</span> <span class="p">[</span>
    <span class="s1">&#39;cache&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;config&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;cell_cache&#39;</span><span class="p">,</span> <span class="s1">&#39;key&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;inbox_&#39;</span> <span class="o">.</span> <span class="nv">$user</span><span class="o">-&gt;</span><span class="na">id</span><span class="p">]</span>
<span class="p">]);</span>
</pre></div>
</div>
<p>If a key is generated the underscored version of the cell class and template
name will be used.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">A new <code class="docutils literal"><span class="pre">View</span></code> instance is used to render each cell and these new objects
do not share context with the main template / layout. Each cell is
self-contained and only has access to variables passed as arguments to the
<code class="docutils literal"><span class="pre">View::cell()</span></code> call.</p>
</div>
</div>
</div>
<div class="section" id="paginating-data-inside-a-cell">
<h2>Paginating Data inside a Cell<a class="headerlink" href="#paginating-data-inside-a-cell" title="Permalink to this headline">¶</a></h2>
<p>Creating a cell that renders a paginated result set can be done by leveraging
the <code class="docutils literal"><span class="pre">Paginator</span></code> class of the ORM. An example of paginating a user&#8217;s favorite
messages could look like:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\View\Cell</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">Cake\View\Cell</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\Datasource\Paginator</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">FavoritesCell</span> <span class="k">extends</span> <span class="nx">Cell</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">display</span><span class="p">(</span><span class="nv">$user</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadModel</span><span class="p">(</span><span class="s1">&#39;Messages&#39;</span><span class="p">);</span>

        <span class="c1">// Create a paginator</span>
        <span class="nv">$paginator</span> <span class="o">=</span> <span class="k">new</span> <span class="nx">Paginator</span><span class="p">();</span>

        <span class="c1">// Paginate the model</span>
        <span class="nv">$results</span> <span class="o">=</span> <span class="nv">$paginator</span><span class="o">-&gt;</span><span class="na">paginate</span><span class="p">(</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Messages</span><span class="p">,</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">getQueryParams</span><span class="p">(),</span>
            <span class="p">[</span>
                <span class="c1">// Use a parameterized custom finder.</span>
                <span class="s1">&#39;finder&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="s1">&#39;favorites&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="nv">$user</span><span class="p">]],</span>

                <span class="c1">// Use scoped query string parameters.</span>
                <span class="s1">&#39;scope&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;favorites&#39;</span><span class="p">,</span>
            <span class="p">]</span>
        <span class="p">);</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;favorites&#39;</span><span class="p">,</span> <span class="nv">$results</span><span class="p">);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The above cell would paginate the <code class="docutils literal"><span class="pre">Messages</span></code> model using <a class="reference internal" href="../controllers/components/pagination.html#paginating-multiple-queries"><span class="std std-ref">scoped
pagination parameters</span></a>.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 3.5.0: </span><code class="docutils literal"><span class="pre">Cake\Datasource\Paginator</span></code> was added in 3.5.0.</p>
</div>
</div>
</div>


            </div>
        </div>

        
        <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm" lang="en">
            <aside class="sidebar">
                <div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<p class="caption"><span class="caption-text">Preface</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../intro.html">CakePHP at a Glance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../quickstart.html">Quick Start Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices/3-x-migration-guide.html">3.x Migration Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorials-and-examples.html">Tutorials &amp; Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../contributing.html">Contributing</a></li>
</ul>
<p class="caption"><span class="caption-text">Getting Started</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/request-response.html">Request &amp; Response Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/middleware.html">Middleware</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers.html">Controllers</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../views.html">Views</a><ul class="current">
<li class="toctree-l2 current"><a class="current reference internal" href="#">View Cells</a></li>
<li class="toctree-l2"><a class="reference internal" href="themes.html">Themes</a></li>
<li class="toctree-l2"><a class="reference internal" href="json-and-xml-views.html">JSON and XML views</a></li>
<li class="toctree-l2"><a class="reference internal" href="helpers.html">Helpers</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../orm.html">Database Access &amp; ORM</a></li>
</ul>
<p class="caption"><span class="caption-text">Using CakePHP</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../controllers/components/authentication.html">Authentication</a></li>
<li class="toctree-l1"><a class="reference internal" href="../bake.html">Bake Console</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/caching.html">Caching</a></li>
<li class="toctree-l1"><a class="reference internal" href="../console-and-shells.html">Console Tools, Shells &amp; Tasks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/debugging.html">Debugging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../deployment.html">Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/email.html">Email</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/errors.html">Error &amp; Exception Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/events.html">Events System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/internationalization-and-localization.html">Internationalization &amp; Localization</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/form.html">Modelless Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/components/pagination.html">Pagination</a></li>
<li class="toctree-l1"><a class="reference internal" href="../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/rest.html">REST</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/sessions.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/validation.html">Validation</a></li>
</ul>
<p class="caption"><span class="caption-text">Utility Classes</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/app.html">App Class</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/collections.html">Collections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/file-folder.html">Folder &amp; File</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/hash.html">Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/httpclient.html">Http Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/inflector.html">Inflector</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/number.html">Number</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/registry-objects.html">Registry Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/text.html">Text</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/time.html">Date &amp; Time</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/xml.html">Xml</a></li>
</ul>
<p class="caption"><span class="caption-text">Plugins</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../chronos.html">Chronos</a></li>
<li class="toctree-l1"><a class="reference internal" href="../debug-kit.html">Debug Kit</a></li>
<li class="toctree-l1"><a class="reference internal" href="../migrations.html">Migrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../elasticsearch.html">ElasticSearch</a></li>
<li class="toctree-l1"><a class="reference internal" href="../upgrade-tool.html">Upgrade Tool</a></li>
</ul>
<p class="caption"><span class="caption-text">Other</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/global-constants-and-functions.html">Constants &amp; Functions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices.html">Appendices</a></li>
</ul>

</div>

                </div>
            </aside>
            <aside class="sidebar">
                <div class="mb30 row">
                </div>
            </aside>
        </div>
    </div>
</div>

<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3">
                    <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="https://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="https://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="https://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="https://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="https://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="https://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="../_static/open-hub.png">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="../_static/rackspace.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        <li class="menu-title">
    <a href="https://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
    <a href="https://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                            &copy; Copyright 2017, Cake Software Foundation, Inc.
                        Last updated on Aug 30, 2017.
                        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  </body>
</html>