

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    
    <title>JSON and XML views - 3.x</title>
    <link href="../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../_static/app.js"></script>

    <link rel="alternate" hreflang="pt_BR" href="../../pt/views/json-and-xml-views.html" /><link rel="alternate" hreflang="es" href="../../es/views/json-and-xml-views.html" /><link rel="alternate" hreflang="ja" href="../../ja/views/json-and-xml-views.html" /><link rel="alternate" hreflang="fr" href="../../fr/views/json-and-xml-views.html" /><link rel="alternate" hreflang="zh" href="../../zh/views/json-and-xml-views.html" /><link rel="alternate" hreflang="tr" href="../../tr/views/json-and-xml-views.html" /><link rel="alternate" hreflang="ru" href="../../ru/views/json-and-xml-views.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 3.5 documentation" href="../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 3.5 documentation" href="../index.html" />
    <link rel="up" title="Views" href="../views.html" />
    <link rel="next" title="Helpers" href="helpers.html" />
    <link rel="prev" title="Themes" href="themes.html" />

    <script type="text/javascript">
    window.lang = "en";
    </script>
  </head>
  <body>

<div id="container">
    
    <header class="nav-down">
        <div class="container-fluid hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-9 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <li class="first">
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
                                <ul class="submenu">
                                    
<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                                </ul>
                            </li>

                            <li><a href="https://cakephp.org/business-solutions">Business Solutions</a></li>
                            <li><a href="https://cakephp.org/writers">Get Paid To Write</a></li>
                            <li><a href="https://cakephp.org/pages/team">Team</a></li>

                            <li>
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
                                <div class="megamenu full">
                                    <div class="row">
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="navbar-right">
                        <button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-bars toggle-modal"></i>
                        </button>
                    </div>
                    <div id="wrap">
                        <form class="search" action="../search.html" method="get">
                            <input name="q" type="search" placeholder="What are you looking for?">
                            <input id="search_submit" value="Search" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <section id="nav-cook" class="hidden-xs hidden-sm">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-12 back-book">
                        <div class="col-md-5 text-center t-cook-nav p0 hidden-sm hidden-xs">
                            <h2>
                                <a href="../contents.html">
                                    <span class="glyph_range icon-submenu icon-submenu-cook">B</span>
                                    CakePHP 3.5 Red Velvet <strong>Cookbook</strong>
                                </a>
                            </h2>
                        </div>

                        <div class="col-md-4 hidden-sm">
                            <form class="search" action="../search.html" method="get">
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />

                                <div class="col-md-10 p0">
                                    <input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
                                </div>
                                <div class="col-md-2 p0 search-cook">
                                    <button type="submit">
                                        <span class="glyph_range icon-submenu icon-submenu-cook">A</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="col-md-3">
                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Language:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                                        en
                                                        <i class="fa fa-menu-en fa-chevron-down"></i>
                                                    </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li></li>
                                            
                                                <li><a href="../../pt/views/json-and-xml-views.html">pt</a></li>
                                            
                                                <li><a href="../../es/views/json-and-xml-views.html">es</a></li>
                                            
                                                <li><a href="../../ja/views/json-and-xml-views.html">ja</a></li>
                                            
                                                <li><a href="../../fr/views/json-and-xml-views.html">fr</a></li>
                                            
                                                <li><a href="../../zh/views/json-and-xml-views.html">zh</a></li>
                                            
                                                <li><a href="../../tr/views/json-and-xml-views.html">tr</a></li>
                                            
                                                <li><a href="../../ru/views/json-and-xml-views.html">ru</a></li>
                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Version:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://book.cakephp.org/3.0/en">3.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/2.0/en">2.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.3/en/">1.3 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.2/en/">1.2 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.1/en">1.1 Book</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </header>

    
    <section class="nav-btn visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
                </div>

                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
                </div>
            </div>
        </div>
    </section>

    
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title-cookbook" id="modal-header"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

<div class="container page-container "><div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/docs/edit/3.0/en/views/json-and-xml-views.rst" target="_blank">
            <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
        </a>
    </div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

    
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3"><div class="page-contents col-sm-5">
                <h3>Page Contents</h3>
                <ul>
<li><a class="reference internal" href="#">JSON and XML views</a><ul>
<li><a class="reference internal" href="#enabling-data-views-in-your-application">Enabling Data Views in Your Application</a></li>
<li><a class="reference internal" href="#using-data-views-with-the-serialize-key">Using Data Views with the Serialize Key</a></li>
<li><a class="reference internal" href="#using-a-data-view-with-template-files">Using a Data View with Template Files</a></li>
<li><a class="reference internal" href="#creating-xml-views">Creating XML Views</a></li>
<li><a class="reference internal" href="#creating-json-views">Creating JSON Views</a><ul>
<li><a class="reference internal" href="#jsonp-responses">JSONP Responses</a></li>
</ul>
</li>
<li><a class="reference internal" href="#example-usage">Example Usage</a></li>
</ul>
</li>
</ul>

            </div><div class="document-body">
            
  <div class="section" id="json-and-xml-views">
<h1>JSON and XML views<a class="headerlink" href="#json-and-xml-views" title="Permalink to this headline">¶</a></h1>
<p>The <code class="docutils literal"><span class="pre">JsonView</span></code> and <code class="docutils literal"><span class="pre">XmlView</span></code>
let you create JSON and XML responses, and integrate with the
<code class="xref php php-class docutils literal"><span class="pre">Cake\Controller\Component\RequestHandlerComponent</span></code>.</p>
<p>By enabling <code class="docutils literal"><span class="pre">RequestHandlerComponent</span></code> in your application, and enabling
support for the <code class="docutils literal"><span class="pre">json</span></code> and or <code class="docutils literal"><span class="pre">xml</span></code> extensions, you can automatically
leverage the new view classes. <code class="docutils literal"><span class="pre">JsonView</span></code> and <code class="docutils literal"><span class="pre">XmlView</span></code> will be referred to
as data views for the rest of this page.</p>
<p>There are two ways you can generate data views. The first is by using the
<code class="docutils literal"><span class="pre">_serialize</span></code> key, and the second is by creating normal template files.</p>
<div class="section" id="enabling-data-views-in-your-application">
<h2>Enabling Data Views in Your Application<a class="headerlink" href="#enabling-data-views-in-your-application" title="Permalink to this headline">¶</a></h2>
<p>Before you can use the data view classes, you&#8217;ll first need to load the
<code class="xref php php-class docutils literal"><span class="pre">Cake\Controller\Component\RequestHandlerComponent</span></code> in your
controller:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
<span class="p">{</span>
    <span class="o">...</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>
<span class="p">}</span>
</pre></div>
</div>
<p>This can be done in your <cite>AppController</cite> and will enable automatic view class
switching on content types. You can also set the component up with the
<code class="docutils literal"><span class="pre">viewClassMap</span></code> setting, to map types to your custom classes and/or map other
data types.</p>
<p>You can optionally enable the json and or xml extensions with
<a class="reference internal" href="../development/routing.html#file-extensions"><span class="std std-ref">Routing File Extensions</span></a>. This will allow you to access the <code class="docutils literal"><span class="pre">JSON</span></code>, <code class="docutils literal"><span class="pre">XML</span></code> or
any other special format views by using a custom URL ending with the name of the
response type as a file extension such as <code class="docutils literal"><span class="pre">http://example.com/articles.json</span></code>.</p>
<p>By default, when not enabling <a class="reference internal" href="../development/routing.html#file-extensions"><span class="std std-ref">Routing File Extensions</span></a>, the request the <code class="docutils literal"><span class="pre">Accept</span></code>
header is used for selecting which type of format should be rendered to the
user. An example <code class="docutils literal"><span class="pre">Accept</span></code> format that is used to render <code class="docutils literal"><span class="pre">JSON</span></code> responses is
<code class="docutils literal"><span class="pre">application/json</span></code>.</p>
</div>
<div class="section" id="using-data-views-with-the-serialize-key">
<h2>Using Data Views with the Serialize Key<a class="headerlink" href="#using-data-views-with-the-serialize-key" title="Permalink to this headline">¶</a></h2>
<p>The <code class="docutils literal"><span class="pre">_serialize</span></code> key is a special view variable that indicates which other
view variable(s) should be serialized when using a data view. This lets you skip
defining template files for your controller actions if you don&#8217;t need to do any
custom formatting before your data is converted into json/xml.</p>
<p>If you need to do any formatting or manipulation of your view variables before
generating the response, you should use template files. The value of
<code class="docutils literal"><span class="pre">_serialize</span></code> can be either a string or an array of view variables to
serialize:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">ArticlesController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">index</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="c1">// Set the view vars that have to be serialized.</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;articles&#39;</span><span class="p">,</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">paginate</span><span class="p">());</span>
        <span class="c1">// Specify which view vars JsonView should serialize.</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_serialize&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;articles&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You can also define <code class="docutils literal"><span class="pre">_serialize</span></code> as an array of view variables to combine:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">ArticlesController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">index</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="c1">// Some code that created $articles and $comments</span>

        <span class="c1">// Set the view vars that have to be serialized.</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="nb">compact</span><span class="p">(</span><span class="s1">&#39;articles&#39;</span><span class="p">,</span> <span class="s1">&#39;comments&#39;</span><span class="p">));</span>

        <span class="c1">// Specify which view vars JsonView should serialize.</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_serialize&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;articles&#39;</span><span class="p">,</span> <span class="s1">&#39;comments&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Defining <code class="docutils literal"><span class="pre">_serialize</span></code> as an array has the added benefit of automatically
appending a top-level <code class="docutils literal"><span class="pre">&lt;response&gt;</span></code> element when using <a class="reference internal" href="#XmlView" title="XmlView"><code class="xref php php-class docutils literal"><span class="pre">XmlView</span></code></a>.
If you use a string value for <code class="docutils literal"><span class="pre">_serialize</span></code> and XmlView, make sure that your
view variable has a single top-level element. Without a single top-level
element the Xml will fail to generate.</p>
<div class="versionadded">
<p><span class="versionmodified">New in version 3.1.0: </span>In this version, the variable <code class="docutils literal"><span class="pre">_serialize</span></code> is automaticaly set to <code class="docutils literal"><span class="pre">true</span></code>
to serialize all view variables instead of explicitly specifying them.</p>
</div>
</div>
<div class="section" id="using-a-data-view-with-template-files">
<h2>Using a Data View with Template Files<a class="headerlink" href="#using-a-data-view-with-template-files" title="Permalink to this headline">¶</a></h2>
<p>You should use template files if you need to do some manipulation of your view
content before creating the final output. For example if we had articles, that had
a field containing generated HTML, we would probably want to omit that from a
JSON response. This is a situation where a view file would be useful:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Controller code</span>
<span class="k">class</span> <span class="nc">ArticlesController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">index</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="nv">$articles</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">paginate</span><span class="p">(</span><span class="s1">&#39;Articles&#39;</span><span class="p">);</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="nb">compact</span><span class="p">(</span><span class="s1">&#39;articles&#39;</span><span class="p">));</span>
    <span class="p">}</span>
<span class="p">}</span>

<span class="c1">// View code - src/Template/Articles/json/index.ctp</span>
<span class="k">foreach</span> <span class="p">(</span><span class="nv">$articles</span> <span class="k">as</span> <span class="o">&amp;</span><span class="nv">$article</span><span class="p">)</span> <span class="p">{</span>
    <span class="nb">unset</span><span class="p">(</span><span class="nv">$article</span><span class="o">-&gt;</span><span class="na">generated_html</span><span class="p">);</span>
<span class="p">}</span>
<span class="k">echo</span> <span class="nb">json_encode</span><span class="p">(</span><span class="nb">compact</span><span class="p">(</span><span class="s1">&#39;articles&#39;</span><span class="p">));</span>
</pre></div>
</div>
<p>You can do more complex manipulations, or use helpers to do formatting as well.
The data view classes don&#8217;t support layouts. They assume that the view file will
output the serialized content.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">As of 3.1.0 AppController, in the application skeleton automatically adds
<code class="docutils literal"><span class="pre">'_serialize'</span> <span class="pre">=&gt;</span> <span class="pre">true</span></code> to all XML/JSON requests. You will need to remove
this code from the beforeRender callback or set <code class="docutils literal"><span class="pre">'_serialize'</span> <span class="pre">=&gt;</span> <span class="pre">false</span></code> in
your controller&#8217;s action if you want to use view files.</p>
</div>
</div>
<div class="section" id="creating-xml-views">
<h2>Creating XML Views<a class="headerlink" href="#creating-xml-views" title="Permalink to this headline">¶</a></h2>
<dl class="class">
<dt id="XmlView">
<em class="property">class </em><code class="descname">XmlView</code><a class="headerlink" href="#XmlView" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>By default when using <code class="docutils literal"><span class="pre">_serialize</span></code> the XmlView will wrap your serialized
view variables with a <code class="docutils literal"><span class="pre">&lt;response&gt;</span></code> node. You can set a custom name for
this node using the <code class="docutils literal"><span class="pre">_rootNode</span></code> view variable.</p>
<p>The XmlView class supports the <code class="docutils literal"><span class="pre">_xmlOptions</span></code> variable that allows you to
customize the options used to generate XML, e.g. <code class="docutils literal"><span class="pre">tags</span></code> vs <code class="docutils literal"><span class="pre">attributes</span></code>.</p>
</div>
<div class="section" id="creating-json-views">
<h2>Creating JSON Views<a class="headerlink" href="#creating-json-views" title="Permalink to this headline">¶</a></h2>
<dl class="class">
<dt id="JsonView">
<em class="property">class </em><code class="descname">JsonView</code><a class="headerlink" href="#JsonView" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>The JsonView class supports the <code class="docutils literal"><span class="pre">_jsonOptions</span></code> variable that allows you to
customize the bit-mask used to generate JSON. See the
<a class="reference external" href="http://php.net/json_encode">json_encode</a> documentation for the valid
values of this option.</p>
<p>For example, to serialize validation error output of CakePHP entities in a consistent form of JSON do:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// In your controller&#39;s action when saving failed</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;errors&#39;</span><span class="p">,</span> <span class="nv">$articles</span><span class="o">-&gt;</span><span class="na">errors</span><span class="p">());</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_jsonOptions&#39;</span><span class="p">,</span> <span class="nx">JSON_FORCE_OBJECT</span><span class="p">);</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_serialize&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;errors&#39;</span><span class="p">]);</span>
</pre></div>
</div>
<div class="section" id="jsonp-responses">
<h3>JSONP Responses<a class="headerlink" href="#jsonp-responses" title="Permalink to this headline">¶</a></h3>
<p>When using <code class="docutils literal"><span class="pre">JsonView</span></code> you can use the special view variable <code class="docutils literal"><span class="pre">_jsonp</span></code> to
enable returning a JSONP response. Setting it to <code class="docutils literal"><span class="pre">true</span></code> makes the view class
check if query string parameter named &#8220;callback&#8221; is set and if so wrap the json
response in the function name provided. If you want to use a custom query string
parameter name instead of &#8220;callback&#8221; set <code class="docutils literal"><span class="pre">_jsonp</span></code> to required name instead of
<code class="docutils literal"><span class="pre">true</span></code>.</p>
</div>
</div>
<div class="section" id="example-usage">
<h2>Example Usage<a class="headerlink" href="#example-usage" title="Permalink to this headline">¶</a></h2>
<p>While the <a class="reference internal" href="../controllers/components/request-handling.html"><span class="doc">RequestHandlerComponent</span></a> can automatically set the view based
on the request content-type or extension, you could also handle view
mappings in your controller:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// src/Controller/VideosController.php</span>
<span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">App\Controller\AppController</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\Network\Exception\NotFoundException</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">VideosController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">export</span><span class="p">(</span><span class="nv">$format</span> <span class="o">=</span> <span class="s1">&#39;&#39;</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="nv">$format</span> <span class="o">=</span> <span class="nb">strtolower</span><span class="p">(</span><span class="nv">$format</span><span class="p">);</span>

        <span class="c1">// Format to view mapping</span>
        <span class="nv">$formats</span> <span class="o">=</span> <span class="p">[</span>
          <span class="s1">&#39;xml&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Xml&#39;</span><span class="p">,</span>
          <span class="s1">&#39;json&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;Json&#39;</span><span class="p">,</span>
        <span class="p">];</span>

        <span class="c1">// Error on unknown type</span>
        <span class="k">if</span> <span class="p">(</span><span class="o">!</span><span class="nb">isset</span><span class="p">(</span><span class="nv">$formats</span><span class="p">[</span><span class="nv">$format</span><span class="p">]))</span> <span class="p">{</span>
            <span class="k">throw</span> <span class="k">new</span> <span class="nx">NotFoundException</span><span class="p">(</span><span class="nx">__</span><span class="p">(</span><span class="s1">&#39;Unknown format.&#39;</span><span class="p">));</span>
        <span class="p">}</span>

        <span class="c1">// Set Out Format View</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">viewBuilder</span><span class="p">()</span><span class="o">-&gt;</span><span class="na">className</span><span class="p">(</span><span class="nv">$formats</span><span class="p">[</span><span class="nv">$format</span><span class="p">]);</span>

        <span class="c1">// Set Force Download</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">response</span><span class="o">-&gt;</span><span class="na">download</span><span class="p">(</span><span class="s1">&#39;report-&#39;</span> <span class="o">.</span> <span class="nb">date</span><span class="p">(</span><span class="s1">&#39;YmdHis&#39;</span><span class="p">)</span> <span class="o">.</span> <span class="s1">&#39;.&#39;</span> <span class="o">.</span> <span class="nv">$format</span><span class="p">);</span>

        <span class="c1">// Get data</span>
        <span class="nv">$videos</span> <span class="o">=</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Videos</span><span class="o">-&gt;</span><span class="na">find</span><span class="p">(</span><span class="s1">&#39;latest&#39;</span><span class="p">);</span>

        <span class="c1">// Set Data View</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="nb">compact</span><span class="p">(</span><span class="s1">&#39;videos&#39;</span><span class="p">));</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">set</span><span class="p">(</span><span class="s1">&#39;_serialize&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;videos&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
</div>


            </div>
        </div>

        
        <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm" lang="en">
            <aside class="sidebar">
                <div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<p class="caption"><span class="caption-text">Preface</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../intro.html">CakePHP at a Glance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../quickstart.html">Quick Start Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices/3-x-migration-guide.html">3.x Migration Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../tutorials-and-examples.html">Tutorials &amp; Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../contributing.html">Contributing</a></li>
</ul>
<p class="caption"><span class="caption-text">Getting Started</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/request-response.html">Request &amp; Response Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/middleware.html">Middleware</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers.html">Controllers</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../views.html">Views</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="cells.html">View Cells</a></li>
<li class="toctree-l2"><a class="reference internal" href="themes.html">Themes</a></li>
<li class="toctree-l2 current"><a class="current reference internal" href="#">JSON and XML views</a></li>
<li class="toctree-l2"><a class="reference internal" href="helpers.html">Helpers</a></li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../orm.html">Database Access &amp; ORM</a></li>
</ul>
<p class="caption"><span class="caption-text">Using CakePHP</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../controllers/components/authentication.html">Authentication</a></li>
<li class="toctree-l1"><a class="reference internal" href="../bake.html">Bake Console</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/caching.html">Caching</a></li>
<li class="toctree-l1"><a class="reference internal" href="../console-and-shells.html">Console Tools, Shells &amp; Tasks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/debugging.html">Debugging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../deployment.html">Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/email.html">Email</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/errors.html">Error &amp; Exception Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/events.html">Events System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/internationalization-and-localization.html">Internationalization &amp; Localization</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/form.html">Modelless Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="../controllers/components/pagination.html">Pagination</a></li>
<li class="toctree-l1"><a class="reference internal" href="../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/rest.html">REST</a></li>
<li class="toctree-l1"><a class="reference internal" href="../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/sessions.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../development/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/validation.html">Validation</a></li>
</ul>
<p class="caption"><span class="caption-text">Utility Classes</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/app.html">App Class</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/collections.html">Collections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/file-folder.html">Folder &amp; File</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/hash.html">Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/httpclient.html">Http Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/inflector.html">Inflector</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/number.html">Number</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/registry-objects.html">Registry Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/text.html">Text</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/time.html">Date &amp; Time</a></li>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/xml.html">Xml</a></li>
</ul>
<p class="caption"><span class="caption-text">Plugins</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../chronos.html">Chronos</a></li>
<li class="toctree-l1"><a class="reference internal" href="../debug-kit.html">Debug Kit</a></li>
<li class="toctree-l1"><a class="reference internal" href="../migrations.html">Migrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../elasticsearch.html">ElasticSearch</a></li>
<li class="toctree-l1"><a class="reference internal" href="../upgrade-tool.html">Upgrade Tool</a></li>
</ul>
<p class="caption"><span class="caption-text">Other</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../core-libraries/global-constants-and-functions.html">Constants &amp; Functions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../appendices.html">Appendices</a></li>
</ul>

</div>

                </div>
            </aside>
            <aside class="sidebar">
                <div class="mb30 row">
                </div>
            </aside>
        </div>
    </div>
</div>

<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3">
                    <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="https://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="https://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="https://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="https://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="https://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="https://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="../_static/open-hub.png">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="../_static/rackspace.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        <li class="menu-title">
    <a href="https://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
    <a href="https://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                            &copy; Copyright 2017, Cake Software Foundation, Inc.
                        Last updated on Aug 30, 2017.
                        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  </body>
</html>