

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Request Handling" lang="en" name="title" />
<meta content="handler component,javascript libraries,public components,null returns,model data,request data,content types,file extensions,ajax,meth,content type,array,conjunction,cakephp,insight,php" lang="en" name="keywords" />

    <title>Request Handling - 3.x</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="pt_BR" href="../../../pt/controllers/components/request-handling.html" /><link rel="alternate" hreflang="es" href="../../../es/controllers/components/request-handling.html" /><link rel="alternate" hreflang="ja" href="../../../ja/controllers/components/request-handling.html" /><link rel="alternate" hreflang="fr" href="../../../fr/controllers/components/request-handling.html" /><link rel="alternate" hreflang="zh" href="../../../zh/controllers/components/request-handling.html" /><link rel="alternate" hreflang="tr" href="../../../tr/controllers/components/request-handling.html" /><link rel="alternate" hreflang="ru" href="../../../ru/controllers/components/request-handling.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 3.5 documentation" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 3.5 documentation" href="../../index.html" />
    <link rel="up" title="Components" href="../components.html" />
    <link rel="next" title="Views" href="../../views.html" />
    <link rel="prev" title="Pagination" href="pagination.html" />

    <script type="text/javascript">
    window.lang = "en";
    </script>
  </head>
  <body>

<div id="container">
    
    <header class="nav-down">
        <div class="container-fluid hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-9 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <li class="first">
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
                                <ul class="submenu">
                                    
<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                                </ul>
                            </li>

                            <li><a href="https://cakephp.org/business-solutions">Business Solutions</a></li>
                            <li><a href="https://cakephp.org/writers">Get Paid To Write</a></li>
                            <li><a href="https://cakephp.org/pages/team">Team</a></li>

                            <li>
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
                                <div class="megamenu full">
                                    <div class="row">
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="navbar-right">
                        <button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-bars toggle-modal"></i>
                        </button>
                    </div>
                    <div id="wrap">
                        <form class="search" action="../../search.html" method="get">
                            <input name="q" type="search" placeholder="What are you looking for?">
                            <input id="search_submit" value="Search" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <section id="nav-cook" class="hidden-xs hidden-sm">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-12 back-book">
                        <div class="col-md-5 text-center t-cook-nav p0 hidden-sm hidden-xs">
                            <h2>
                                <a href="../../contents.html">
                                    <span class="glyph_range icon-submenu icon-submenu-cook">B</span>
                                    CakePHP 3.5 Red Velvet <strong>Cookbook</strong>
                                </a>
                            </h2>
                        </div>

                        <div class="col-md-4 hidden-sm">
                            <form class="search" action="../../search.html" method="get">
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />

                                <div class="col-md-10 p0">
                                    <input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
                                </div>
                                <div class="col-md-2 p0 search-cook">
                                    <button type="submit">
                                        <span class="glyph_range icon-submenu icon-submenu-cook">A</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="col-md-3">
                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Language:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                                        en
                                                        <i class="fa fa-menu-en fa-chevron-down"></i>
                                                    </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li></li>
                                            
                                                <li><a href="../../../pt/controllers/components/request-handling.html">pt</a></li>
                                            
                                                <li><a href="../../../es/controllers/components/request-handling.html">es</a></li>
                                            
                                                <li><a href="../../../ja/controllers/components/request-handling.html">ja</a></li>
                                            
                                                <li><a href="../../../fr/controllers/components/request-handling.html">fr</a></li>
                                            
                                                <li><a href="../../../zh/controllers/components/request-handling.html">zh</a></li>
                                            
                                                <li><a href="../../../tr/controllers/components/request-handling.html">tr</a></li>
                                            
                                                <li><a href="../../../ru/controllers/components/request-handling.html">ru</a></li>
                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Version:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://book.cakephp.org/3.0/en">3.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/2.0/en">2.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.3/en/">1.3 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.2/en/">1.2 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.1/en">1.1 Book</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </header>

    
    <section class="nav-btn visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
                </div>

                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
                </div>
            </div>
        </div>
    </section>

    
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title-cookbook" id="modal-header"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

<div class="container page-container "><div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/docs/edit/3.0/en/controllers/components/request-handling.rst" target="_blank">
            <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
        </a>
    </div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

    
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3"><div class="page-contents col-sm-5">
                <h3>Page Contents</h3>
                <ul>
<li><a class="reference internal" href="#">Request Handling</a><ul>
<li><a class="reference internal" href="#obtaining-request-information">Obtaining Request Information</a></li>
<li><a class="reference internal" href="#automatically-decoding-request-data">Automatically Decoding Request Data</a></li>
<li><a class="reference internal" href="#checking-content-type-preferences">Checking Content-Type Preferences</a></li>
<li><a class="reference internal" href="#responding-to-requests">Responding To Requests</a></li>
<li><a class="reference internal" href="#taking-advantage-of-http-cache-validation">Taking Advantage of HTTP Cache Validation</a></li>
<li><a class="reference internal" href="#using-custom-viewclasses">Using Custom ViewClasses</a></li>
</ul>
</li>
</ul>

            </div><div class="document-body">
            
  <div class="section" id="request-handling">
<h1>Request Handling<a class="headerlink" href="#request-handling" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="RequestHandlerComponent">
<em class="property">class </em><code class="descname">RequestHandlerComponent</code><span class="sig-paren">(</span><em>ComponentCollection $collection</em>, <em>array $config = []</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>The Request Handler component is used in CakePHP to obtain additional
information about the HTTP requests that are made to your application. You can
use it to see what content types clients prefer, automatcally parse request
input, define how content types map to view classes or template paths.</p>
<p>By default RequestHandler will automatically detect AJAX requests based on the
<code class="docutils literal"><span class="pre">X-Requested-With</span></code> HTTP header that many JavaScript libraries use. When used
in conjunction with <a class="reference internal" href="../../development/routing.html#Cake\Routing\Router::extensions" title="Cake\Routing\Router::extensions"><code class="xref php php-meth docutils literal"><span class="pre">Cake\Routing\Router::extensions()</span></code></a>,
RequestHandler will automatically switch the layout and template files to those
that match non-HTML media types. Furthermore, if a helper with the same name as
the requested extension exists, it will be added to the Controllers Helper
array. Lastly, if XML/JSON data is POST&#8217;ed to your Controllers, it will be
parsed into an array which is assigned to <code class="docutils literal"><span class="pre">$this-&gt;request-&gt;getData()</span></code>, and can then
be accessed as you would standard POST data. In order to make use of
RequestHandler it must be included in your <code class="docutils literal"><span class="pre">initialize()</span></code> method:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">WidgetsController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="c1">// Rest of controller</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="section" id="obtaining-request-information">
<h2>Obtaining Request Information<a class="headerlink" href="#obtaining-request-information" title="Permalink to this headline">¶</a></h2>
<p>Request Handler has several methods that provide information about
the client and its request.</p>
<dl class="method">
<dt id="RequestHandlerComponent::accepts">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">accepts</code><span class="sig-paren">(</span><em>$type = null</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::accepts" title="Permalink to this definition">¶</a></dt>
<dd><p>$type can be a string, or an array, or null. If a string, accepts
will return <code class="docutils literal"><span class="pre">true</span></code> if the client accepts the content type. If an
array is specified, accepts return <code class="docutils literal"><span class="pre">true</span></code> if any one of the content
types is accepted by the client. If null returns an array of the
content-types that the client accepts. For example:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ArticlesController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">(</span><span class="nx">Event</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">(</span><span class="s1">&#39;html&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="c1">// Execute code only if client accepts an HTML (text/html)</span>
            <span class="c1">// response.</span>
        <span class="p">}</span> <span class="k">elseif</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">(</span><span class="s1">&#39;xml&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="c1">// Execute XML-only code</span>
        <span class="p">}</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">accepts</span><span class="p">([</span><span class="s1">&#39;xml&#39;</span><span class="p">,</span> <span class="s1">&#39;rss&#39;</span><span class="p">,</span> <span class="s1">&#39;atom&#39;</span><span class="p">]))</span> <span class="p">{</span>
            <span class="c1">// Executes if the client accepts any of the above: XML, RSS</span>
            <span class="c1">// or Atom.</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
</dd></dl>

<p>Other request &#8216;type&#8217; detection methods include:</p>
<dl class="method">
<dt id="RequestHandlerComponent::isXml">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isXml</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isXml" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns <code class="docutils literal"><span class="pre">true</span></code> if the current request accepts XML as a response.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isRss">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isRss</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isRss" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns <code class="docutils literal"><span class="pre">true</span></code> if the current request accepts RSS as a response.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isAtom">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isAtom</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isAtom" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns <code class="docutils literal"><span class="pre">true</span></code> if the current call accepts an Atom response, false
otherwise.</p>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isMobile">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isMobile</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isMobile" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns <code class="docutils literal"><span class="pre">true</span></code> if user agent string matches a mobile web browser, or
if the client accepts WAP content. The supported Mobile User Agent
strings are:</p>
<ul class="simple">
<li>Android</li>
<li>AvantGo</li>
<li>BlackBerry</li>
<li>DoCoMo</li>
<li>Fennec</li>
<li>iPad</li>
<li>iPhone</li>
<li>iPod</li>
<li>J2ME</li>
<li>MIDP</li>
<li>NetFront</li>
<li>Nokia</li>
<li>Opera Mini</li>
<li>Opera Mobi</li>
<li>PalmOS</li>
<li>PalmSource</li>
<li>portalmmm</li>
<li>Plucker</li>
<li>ReqwirelessWeb</li>
<li>SonyEricsson</li>
<li>Symbian</li>
<li>UP.Browser</li>
<li>webOS</li>
<li>Windows CE</li>
<li>Windows Phone OS</li>
<li>Xiino</li>
</ul>
</dd></dl>

<dl class="method">
<dt id="RequestHandlerComponent::isWap">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">isWap</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::isWap" title="Permalink to this definition">¶</a></dt>
<dd><p>Returns <code class="docutils literal"><span class="pre">true</span></code> if the client accepts WAP content.</p>
</dd></dl>

<p>All of the above request detection methods can be used in a similar
fashion to filter functionality intended for specific content
types. For example when responding to AJAX requests, you often will
want to disable browser caching, and change the debug level.
However, you want to allow caching for non-AJAX requests. The
following would accomplish that:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">is</span><span class="p">(</span><span class="s1">&#39;ajax&#39;</span><span class="p">))</span> <span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">response</span><span class="o">-&gt;</span><span class="na">disableCache</span><span class="p">();</span>
<span class="p">}</span>
<span class="c1">// Continue Controller action</span>
</pre></div>
</div>
</div>
<div class="section" id="automatically-decoding-request-data">
<h2>Automatically Decoding Request Data<a class="headerlink" href="#automatically-decoding-request-data" title="Permalink to this headline">¶</a></h2>
<p>Add a request data decoder. The handler should contain a callback, and any
additional arguments for the callback. The callback should return
an array of data contained in the request input. For example adding a CSV
handler could look like:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ArticlesController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>
    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$parser</span> <span class="o">=</span> <span class="k">function</span> <span class="p">(</span><span class="nv">$data</span><span class="p">)</span> <span class="p">{</span>
            <span class="nv">$rows</span> <span class="o">=</span> <span class="nb">str_getcsv</span><span class="p">(</span><span class="nv">$data</span><span class="p">,</span> <span class="s2">&quot;</span><span class="se">\n</span><span class="s2">&quot;</span><span class="p">);</span>
            <span class="k">foreach</span> <span class="p">(</span><span class="nv">$rows</span> <span class="k">as</span> <span class="o">&amp;</span><span class="nv">$row</span><span class="p">)</span> <span class="p">{</span>
                <span class="nv">$row</span> <span class="o">=</span> <span class="nb">str_getcsv</span><span class="p">(</span><span class="nv">$row</span><span class="p">,</span> <span class="s1">&#39;,&#39;</span><span class="p">);</span>
            <span class="p">}</span>
            <span class="k">return</span> <span class="nv">$rows</span><span class="p">;</span>
        <span class="p">};</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">,</span> <span class="p">[</span>
            <span class="s1">&#39;inputTypeMap&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span>
                <span class="s1">&#39;csv&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span><span class="nv">$parser</span><span class="p">]</span>
            <span class="p">]</span>
        <span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>You can use any <a class="reference external" href="http://php.net/callback">callable</a> for the handling function.
You can also pass additional arguments to the callback, this is useful for
callbacks like <code class="docutils literal"><span class="pre">json_decode</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">addInputType</span><span class="p">(</span><span class="s1">&#39;json&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;json_decode&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">]);</span>

<span class="c1">// After 3.1.0 you should use</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">config</span><span class="p">(</span><span class="s1">&#39;inputTypeMap.json&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;json_decode&#39;</span><span class="p">,</span> <span class="k">true</span><span class="p">]);</span>
</pre></div>
</div>
<p>The above will make <code class="docutils literal"><span class="pre">$this-&gt;request-&gt;getData()</span></code> an array of the JSON input data,
without the additional <code class="docutils literal"><span class="pre">true</span></code> you&#8217;d get a set of <code class="docutils literal"><span class="pre">stdClass</span></code> objects.</p>
<div class="deprecated">
<p><span class="versionmodified">Deprecated since version 3.1.0: </span>As of 3.1.0 the <code class="docutils literal"><span class="pre">addInputType()</span></code> method is deprecated. You should use
<code class="docutils literal"><span class="pre">config()</span></code> to add input types at runtime.</p>
</div>
</div>
<div class="section" id="checking-content-type-preferences">
<h2>Checking Content-Type Preferences<a class="headerlink" href="#checking-content-type-preferences" title="Permalink to this headline">¶</a></h2>
<dl class="method">
<dt id="RequestHandlerComponent::prefers">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">prefers</code><span class="sig-paren">(</span><em>$type = null</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::prefers" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>Determines which content-types the client prefers. If no parameter
is given the most likely content type is returned. If $type is an
array the first type the client accepts will be returned.
Preference is determined primarily by the file extension parsed by
Router if one has been provided, and secondly by the list of
content-types in <code class="docutils literal"><span class="pre">HTTP\_ACCEPT</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">prefers</span><span class="p">(</span><span class="s1">&#39;json&#39;</span><span class="p">);</span>
</pre></div>
</div>
</div>
<div class="section" id="responding-to-requests">
<h2>Responding To Requests<a class="headerlink" href="#responding-to-requests" title="Permalink to this headline">¶</a></h2>
<dl class="method">
<dt id="RequestHandlerComponent::renderAs">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">renderAs</code><span class="sig-paren">(</span><em>$controller</em>, <em>$type</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::renderAs" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>Change the render mode of a controller to the specified type. Will
also append the appropriate helper to the controller&#8217;s helper array
if available and not already in the array:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="c1">// Force the controller to render an xml response.</span>
<span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">renderAs</span><span class="p">(</span><span class="nv">$this</span><span class="p">,</span> <span class="s1">&#39;xml&#39;</span><span class="p">);</span>
</pre></div>
</div>
<p>This method will also attempt to add a helper that matches your current content
type. For example if you render as <code class="docutils literal"><span class="pre">rss</span></code>, the <code class="docutils literal"><span class="pre">RssHelper</span></code> will be added.</p>
<dl class="method">
<dt id="RequestHandlerComponent::respondAs">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">respondAs</code><span class="sig-paren">(</span><em>$type</em>, <em>$options</em><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::respondAs" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>Sets the response header based on content-type map names. This method lets you
set a number of response properties at once:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">RequestHandler</span><span class="o">-&gt;</span><span class="na">respondAs</span><span class="p">(</span><span class="s1">&#39;xml&#39;</span><span class="p">,</span> <span class="p">[</span>
    <span class="c1">// Force download</span>
    <span class="s1">&#39;attachment&#39;</span> <span class="o">=&gt;</span> <span class="k">true</span><span class="p">,</span>
    <span class="s1">&#39;charset&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;UTF-8&#39;</span>
<span class="p">]);</span>
</pre></div>
</div>
<dl class="method">
<dt id="RequestHandlerComponent::responseType">
<code class="descclassname">RequestHandlerComponent::</code><code class="descname">responseType</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#RequestHandlerComponent::responseType" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>Returns the current response type Content-type header or null if one has yet to
be set.</p>
</div>
<div class="section" id="taking-advantage-of-http-cache-validation">
<h2>Taking Advantage of HTTP Cache Validation<a class="headerlink" href="#taking-advantage-of-http-cache-validation" title="Permalink to this headline">¶</a></h2>
<p>The HTTP cache validation model is one of the processes used for cache
gateways, also known as reverse proxies, to determine if they can serve a
stored copy of a response to the client. Under this model, you mostly save
bandwidth, but when used correctly you can also save some CPU processing,
reducing this way response times.</p>
<p>Enabling the RequestHandlerComponent in your controller automatically activates
a check done before rendering the view. This check compares the response object
against the original request to determine whether the response was not modified
since the last time the client asked for it.</p>
<p>If response is evaluated as not modified, then the view rendering process is
stopped, saving processing time, saving bandwidth and no content is returned to
the client. The response status code is then set to <code class="docutils literal"><span class="pre">304</span> <span class="pre">Not</span> <span class="pre">Modified</span></code>.</p>
<p>You can opt-out this automatic checking by setting the <code class="docutils literal"><span class="pre">checkHttpCache</span></code>
setting to <code class="docutils literal"><span class="pre">false</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
<span class="p">{</span>
    <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">,</span> <span class="p">[</span>
        <span class="s1">&#39;checkHttpCache&#39;</span> <span class="o">=&gt;</span> <span class="k">false</span>
    <span class="p">]);</span>
<span class="p">}</span>
</pre></div>
</div>
</div>
<div class="section" id="using-custom-viewclasses">
<h2>Using Custom ViewClasses<a class="headerlink" href="#using-custom-viewclasses" title="Permalink to this headline">¶</a></h2>
<p>When using JsonView/XmlView you might want to override the default serialization
with a custom View class, or add View classes for other types.</p>
<p>You can map existing and new types to your custom classes. You can also set this
automatically by using the <code class="docutils literal"><span class="pre">viewClassMap</span></code> setting:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
<span class="p">{</span>
    <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;RequestHandler&#39;</span><span class="p">,</span> <span class="p">[</span>
        <span class="s1">&#39;viewClassMap&#39;</span> <span class="o">=&gt;</span> <span class="p">[</span>
            <span class="s1">&#39;json&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.MyJson&#39;</span><span class="p">,</span>
            <span class="s1">&#39;xml&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.MyXml&#39;</span><span class="p">,</span>
            <span class="s1">&#39;csv&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;ApiKit.Csv&#39;</span>
        <span class="p">]</span>
    <span class="p">]);</span>
<span class="p">}</span>
</pre></div>
</div>
<div class="deprecated">
<p><span class="versionmodified">Deprecated since version 3.1.0: </span>As of 3.1.0 the <code class="docutils literal"><span class="pre">viewClassMap()</span></code> method is deprecated. You should use
<code class="docutils literal"><span class="pre">config()</span></code> to change the viewClassMap at runtime.</p>
</div>
</div>
</div>


            </div>
        </div>

        
        <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm" lang="en">
            <aside class="sidebar">
                <div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<p class="caption"><span class="caption-text">Preface</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../intro.html">CakePHP at a Glance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../quickstart.html">Quick Start Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices/3-x-migration-guide.html">3.x Migration Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">Tutorials &amp; Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">Contributing</a></li>
</ul>
<p class="caption"><span class="caption-text">Getting Started</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../request-response.html">Request &amp; Response Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../middleware.html">Middleware</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../controllers.html">Controllers</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../pages-controller.html">The Pages Controller</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../components.html">Components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication</a></li>
<li class="toctree-l3"><a class="reference internal" href="cookie.html">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="csrf.html">Cross Site Request Forgery</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3"><a class="reference internal" href="security.html">Security</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Request Handling</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">Views</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../orm.html">Database Access &amp; ORM</a></li>
</ul>
<p class="caption"><span class="caption-text">Using CakePHP</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="authentication.html">Authentication</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bake.html">Bake Console</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/caching.html">Caching</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Console Tools, Shells &amp; Tasks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/debugging.html">Debugging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/email.html">Email</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/errors.html">Error &amp; Exception Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/events.html">Events System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/internationalization-and-localization.html">Internationalization &amp; Localization</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/form.html">Modelless Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/rest.html">REST</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/sessions.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/validation.html">Validation</a></li>
</ul>
<p class="caption"><span class="caption-text">Utility Classes</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/app.html">App Class</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/collections.html">Collections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/file-folder.html">Folder &amp; File</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/hash.html">Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/httpclient.html">Http Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/inflector.html">Inflector</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/number.html">Number</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/registry-objects.html">Registry Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/text.html">Text</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/time.html">Date &amp; Time</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/xml.html">Xml</a></li>
</ul>
<p class="caption"><span class="caption-text">Plugins</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../chronos.html">Chronos</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../debug-kit.html">Debug Kit</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../migrations.html">Migrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../elasticsearch.html">ElasticSearch</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../upgrade-tool.html">Upgrade Tool</a></li>
</ul>
<p class="caption"><span class="caption-text">Other</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/global-constants-and-functions.html">Constants &amp; Functions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

                </div>
            </aside>
            <aside class="sidebar">
                <div class="mb30 row">
                </div>
            </aside>
        </div>
    </div>
</div>

<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3">
                    <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="https://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="https://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="https://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="https://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="https://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="https://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="../../_static/open-hub.png">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="../../_static/rackspace.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        <li class="menu-title">
    <a href="https://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
    <a href="https://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                            &copy; Copyright 2017, Cake Software Foundation, Inc.
                        Last updated on Aug 30, 2017.
                        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  </body>
</html>