

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta content="Security" lang="en" name="title" />
<meta content="configurable parameters,security component,configuration parameters,invalid request,protection features,tighter security,holing,php class,meth,404 error,period of inactivity,csrf,array,submission,security class,disable security,unlockActions" lang="en" name="keywords" />

    <title>Security - 3.x</title>
    <link href="../../_static/favicon.png" type="image/png" rel="icon" />

    
    <link rel="stylesheet" href="../../_static/css/app.css" type="text/css" />
    
    <script type="text/javascript" src="../../_static/app.js"></script>

    <link rel="alternate" hreflang="pt_BR" href="../../../pt/controllers/components/security.html" /><link rel="alternate" hreflang="es" href="../../../es/controllers/components/security.html" /><link rel="alternate" hreflang="ja" href="../../../ja/controllers/components/security.html" /><link rel="alternate" hreflang="fr" href="../../../fr/controllers/components/security.html" /><link rel="alternate" hreflang="zh" href="../../../zh/controllers/components/security.html" /><link rel="alternate" hreflang="tr" href="../../../tr/controllers/components/security.html" /><link rel="alternate" hreflang="ru" href="../../../ru/controllers/components/security.html" />

    <link rel="search" type="application/opensearchdescription+xml" title="Search within CakePHP Cookbook 3.5 documentation" href="../../_static/opensearchdescription-book-3-x.xml">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="top" title="CakePHP Cookbook 3.5 documentation" href="../../index.html" />
    <link rel="up" title="Components" href="../components.html" />
    <link rel="next" title="Pagination" href="pagination.html" />
    <link rel="prev" title="Flash" href="flash.html" />

    <script type="text/javascript">
    window.lang = "en";
    </script>
  </head>
  <body>

<div id="container">
    
    <header class="nav-down">
        <div class="container-fluid hidden-xs hidden-sm">
            <div class="row">
                <div class="col-sm-3 col-md-3">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-9 col-md-9">
                    <nav class="navbar-right">
                        <ul class="menu">
                            <li class="first">
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Documentation</a>
                                <ul class="submenu">
                                    
<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                                </ul>
                            </li>

                            <li><a href="https://cakephp.org/business-solutions">Business Solutions</a></li>
                            <li><a href="https://cakephp.org/writers">Get Paid To Write</a></li>
                            <li><a href="https://cakephp.org/pages/team">Team</a></li>

                            <li>
                                <a href="#"><i class="fa fa-menu fa-chevron-down"></i>Community</a>
                                <div class="megamenu full">
                                    <div class="row">
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-6 pl30">
                                            <ul class="megamenu-list">
                                                
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

        
        <div class="container-fluid hidden-md hidden-lg">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    <a class="logo-cake" href="https://cakephp.org">
                        <img src="../../_static/logo-cake.png" alt="CakePHP" />
                    </a>
                </div>

                <div class="col-sm-6 col-xs-6">
                    <div class="navbar-right">
                        <button id="btn-menu" class="btn-menu" data-toggle="modal" data-target="#modal">
                            <i class="fa fa-bars toggle-modal"></i>
                        </button>
                    </div>
                    <div id="wrap">
                        <form class="search" action="../../search.html" method="get">
                            <input name="q" type="search" placeholder="What are you looking for?">
                            <input id="search_submit" value="Search" type="submit">
                        </form>
                    </div>
                </div>
            </div>
        </div>

        
        <section id="nav-cook" class="hidden-xs hidden-sm">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-md-12 back-book">
                        <div class="col-md-5 text-center t-cook-nav p0 hidden-sm hidden-xs">
                            <h2>
                                <a href="../../contents.html">
                                    <span class="glyph_range icon-submenu icon-submenu-cook">B</span>
                                    CakePHP 3.5 Red Velvet <strong>Cookbook</strong>
                                </a>
                            </h2>
                        </div>

                        <div class="col-md-4 hidden-sm">
                            <form class="search" action="../../search.html" method="get">
                                <input type="hidden" name="check_keywords" value="yes" />
                                <input type="hidden" name="area" value="default" />

                                <div class="col-md-10 p0">
                                    <input class="form-control form-cook" autocomplete="off" type="search" name="q" size="18" placeholder='Cookbook Search' />
                                </div>
                                <div class="col-md-2 p0 search-cook">
                                    <button type="submit">
                                        <span class="glyph_range icon-submenu icon-submenu-cook">A</span>
                                    </button>
                                </div>
                            </form>
                        </div>

                        
                        <div class="col-md-3">
                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Language:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown"
                                                    role="button" aria-haspopup="true" aria-expanded="false" href="#">
                                                        en
                                                        <i class="fa fa-menu-en fa-chevron-down"></i>
                                                    </a>
                                            <ul class="dropdown-menu">
                                            
                                                <li></li>
                                            
                                                <li><a href="../../../pt/controllers/components/security.html">pt</a></li>
                                            
                                                <li><a href="../../../es/controllers/components/security.html">es</a></li>
                                            
                                                <li><a href="../../../ja/controllers/components/security.html">ja</a></li>
                                            
                                                <li><a href="../../../fr/controllers/components/security.html">fr</a></li>
                                            
                                                <li><a href="../../../zh/controllers/components/security.html">zh</a></li>
                                            
                                                <li><a href="../../../tr/controllers/components/security.html">tr</a></li>
                                            
                                                <li><a href="../../../ru/controllers/components/security.html">ru</a></li>
                                            
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-md-6 p0">
                                <div class="col-md-7 t-language p0">
                                    <h6>Version:</h6>
                                </div>
                                <div class="col-md-5 p0">
                                    <ul class="nav navbar-nav">
                                        <li class="dropdown">
                                            <a href="#" class="dropdown-toggle" data-hover="dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">3.x <i class="fa fa-menu-en fa-chevron-down"></i></a>
                                            <ul class="dropdown-menu">
                                                <li><a href="https://book.cakephp.org/3.0/en">3.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/2.0/en">2.x Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.3/en/">1.3 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.2/en/">1.2 Book</a></li>
                                                <li><a href="https://book.cakephp.org/1.1/en">1.1 Book</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            
        </section>
    </header>

    
    <section class="nav-btn visible-sm visible-xs">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-nav" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Nav</strong></button>
                </div>

                <div class="col-sm-6 col-xs-6 text-center">
                    <button id="btn-toc" class="btn btn-b btn-nav" data-toggle="modal" data-target="#modal"><strong>Table of Contents</strong></button>
                </div>
            </div>
        </div>
    </section>

    
    <div id="modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modal-header">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title-cookbook" id="modal-header"></h4>
                </div>
                <div class="modal-body"></div>
            </div>
        </div>
    </div>

<div class="container page-container "><div id="improve-slideout">
        <i class="fa fa-pencil icon-improve"></i>
        <a href="https://github.com/cakephp/docs/edit/3.0/en/controllers/components/security.rst" target="_blank">
            <div id="improve-slideout-inner"><h6>Improve This Doc <i class="fa fa-github git-improve"></i></h6></div>
        </a>
    </div><a id="back-to-contents" href="#page-contents"><i class="fa fa-arrow-circle-up icon-improve" title="Back to Contents"></i></a>

    
    <div class="row">
        <div class="col-sm-12 col-md-9 col-md-push-3"><div class="page-contents col-sm-5">
                <h3>Page Contents</h3>
                <ul>
<li><a class="reference internal" href="#">Security</a><ul>
<li><a class="reference internal" href="#handling-blackhole-callbacks">Handling Blackhole Callbacks</a></li>
<li><a class="reference internal" href="#restrict-actions-to-ssl">Restrict Actions to SSL</a></li>
<li><a class="reference internal" href="#restricting-cross-controller-communication">Restricting Cross Controller Communication</a></li>
<li><a class="reference internal" href="#form-tampering-prevention">Form Tampering Prevention</a></li>
<li><a class="reference internal" href="#usage">Usage</a></li>
<li><a class="reference internal" href="#csrf-protection">CSRF Protection</a></li>
<li><a class="reference internal" href="#disabling-security-component-for-specific-actions">Disabling Security Component for Specific Actions</a></li>
</ul>
</li>
</ul>

            </div><div class="document-body">
            
  <div class="section" id="security">
<h1>Security<a class="headerlink" href="#security" title="Permalink to this headline">¶</a></h1>
<dl class="class">
<dt id="SecurityComponent">
<em class="property">class </em><code class="descname">SecurityComponent</code><span class="sig-paren">(</span><em>ComponentCollection $collection</em>, <em>array $config = []</em><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>The Security Component creates an easy way to integrate tighter
security in your application. It provides methods for various tasks like:</p>
<ul class="simple">
<li>Restricting which HTTP methods your application accepts.</li>
<li>Form tampering protection</li>
<li>Requiring that SSL be used.</li>
<li>Limiting cross controller communication.</li>
</ul>
<p>Like all components it is configured through several configurable parameters.
All of these properties can be set directly or through setter methods of the
same name in your controller&#8217;s beforeFilter.</p>
<p>By using the Security Component you automatically get form tampering protection.
Hidden token fields will automatically be inserted into forms and checked by the
Security component.</p>
<p>If you are using Security component&#8217;s form protection features and
other components that process form data in their <code class="docutils literal"><span class="pre">startup()</span></code>
callbacks, be sure to place Security Component before those
components in your <code class="docutils literal"><span class="pre">initialize()</span></code> method.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p>When using the Security Component you <strong>must</strong> use the FormHelper to create
your forms. In addition, you must <strong>not</strong> override any of the fields&#8217; &#8220;name&#8221;
attributes. The Security Component looks for certain indicators that are
created and managed by the FormHelper (especially those created in
<a class="reference internal" href="../../views/helpers/form.html#Cake\View\Helper\FormHelper::create" title="Cake\View\Helper\FormHelper::create"><code class="xref php php-meth docutils literal"><span class="pre">View\Helper\FormHelper::create()</span></code></a> and
<a class="reference internal" href="../../views/helpers/form.html#Cake\View\Helper\FormHelper::end" title="Cake\View\Helper\FormHelper::end"><code class="xref php php-meth docutils literal"><span class="pre">View\Helper\FormHelper::end()</span></code></a>).  Dynamically altering
the fields that are submitted in a POST request (e.g.  disabling, deleting
or creating new fields via JavaScript) is likely to cause the request to be
send to the blackhole callback.</p>
<p class="last">You should always verify the HTTP method being used before executing
side-effects. You should <a class="reference internal" href="../request-response.html#check-the-request"><span class="std std-ref">check the HTTP method</span></a> or
use <a class="reference internal" href="../request-response.html#Cake\Http\ServerRequest::allowMethod" title="Cake\Http\ServerRequest::allowMethod"><code class="xref php php-meth docutils literal"><span class="pre">Cake\Http\ServerRequest::allowMethod()</span></code></a> to ensure the correct
HTTP method is used.</p>
</div>
<div class="section" id="handling-blackhole-callbacks">
<h2>Handling Blackhole Callbacks<a class="headerlink" href="#handling-blackhole-callbacks" title="Permalink to this headline">¶</a></h2>
<dl class="method">
<dt id="SecurityComponent::blackHole">
<code class="descclassname">SecurityComponent::</code><code class="descname">blackHole</code><span class="sig-paren">(</span><em>object $controller</em>, <em>string $error = ''</em>, <em>SecurityException $exception = null</em><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::blackHole" title="Permalink to this definition">¶</a></dt>
<dd></dd></dl>

<p>If an action is restricted by the Security Component it is
&#8216;black-holed&#8217; as an invalid request which will result in a 400 error
by default. You can configure this behavior by setting the
<code class="docutils literal"><span class="pre">blackHoleCallback</span></code> configuration option to a callback function
in the controller.</p>
<p>By configuring a callback method you can customize how the blackhole process
works:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">(</span><span class="nx">Event</span> <span class="nv">$event</span><span class="p">)</span>
<span class="p">{</span>
    <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">setConfig</span><span class="p">(</span><span class="s1">&#39;blackHoleCallback&#39;</span><span class="p">,</span> <span class="s1">&#39;blackhole&#39;</span><span class="p">);</span>
<span class="p">}</span>

<span class="k">public</span> <span class="k">function</span> <span class="nf">blackhole</span><span class="p">(</span><span class="nv">$type</span><span class="p">)</span>
<span class="p">{</span>
    <span class="c1">// Handle errors.</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Note: use <code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;config()</span></code> for CakePHP versions prior to 3.4</p>
<p>The <code class="docutils literal"><span class="pre">$type</span></code> parameter can have the following values:</p>
<ul class="simple">
<li>&#8216;auth&#8217; Indicates a form validation error, or a controller/action mismatch
error.</li>
<li>&#8216;secure&#8217; Indicates an SSL method restriction failure.</li>
</ul>
<div class="versionadded">
<p><span class="versionmodified">New in version cakephp/cakephp: </span>3.2.6</p>
<p>As of v3.2.6 an additional parameter is included in the blackHole callback,
an instance of the <code class="docutils literal"><span class="pre">Cake\Controller\Exception\SecurityException</span></code> is
included as a second parameter.</p>
</div>
</div>
<div class="section" id="restrict-actions-to-ssl">
<h2>Restrict Actions to SSL<a class="headerlink" href="#restrict-actions-to-ssl" title="Permalink to this headline">¶</a></h2>
<dl class="method">
<dt id="SecurityComponent::requireSecure">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireSecure</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireSecure" title="Permalink to this definition">¶</a></dt>
<dd><p>Sets the actions that require a SSL-secured request. Takes any
number of arguments. Can be called with no arguments to force all
actions to require a SSL-secured.</p>
</dd></dl>

<dl class="method">
<dt id="SecurityComponent::requireAuth">
<code class="descclassname">SecurityComponent::</code><code class="descname">requireAuth</code><span class="sig-paren">(</span><span class="sig-paren">)</span><a class="headerlink" href="#SecurityComponent::requireAuth" title="Permalink to this definition">¶</a></dt>
<dd><p>Sets the actions that require a valid Security Component generated
token. Takes any number of arguments. Can be called with no
arguments to force all actions to require a valid authentication.</p>
</dd></dl>

</div>
<div class="section" id="restricting-cross-controller-communication">
<h2>Restricting Cross Controller Communication<a class="headerlink" href="#restricting-cross-controller-communication" title="Permalink to this headline">¶</a></h2>
<dl class="docutils">
<dt>allowedControllers</dt>
<dd>A list of controllers which can send requests
to this controller.
This can be used to control cross controller requests.</dd>
<dt>allowedActions</dt>
<dd>A list of actions which are allowed to send requests
to this controller&#8217;s actions.
This can be used to control cross controller requests.</dd>
</dl>
<p>These configuration options allow you to restrict cross controller
communication. Set them with the <code class="docutils literal"><span class="pre">setConfig()</span></code> method, or
<code class="docutils literal"><span class="pre">config()</span></code> if you are using a CakePHP version below 3.4.</p>
</div>
<div class="section" id="form-tampering-prevention">
<h2>Form Tampering Prevention<a class="headerlink" href="#form-tampering-prevention" title="Permalink to this headline">¶</a></h2>
<p>By default the <code class="docutils literal"><span class="pre">SecurityComponent</span></code> prevents users from tampering with forms in
specific ways. The <code class="docutils literal"><span class="pre">SecurityComponent</span></code> will prevent the following things:</p>
<ul class="simple">
<li>Unknown fields cannot be added to the form.</li>
<li>Fields cannot be removed from the form.</li>
<li>Values in hidden inputs cannot be modified.</li>
</ul>
<p>Preventing these types of tampering is accomplished by working with the FormHelper
and tracking which fields are in a form. The values for hidden fields are
tracked as well. All of this data is combined and turned into a hash. When
a form is submitted, the <code class="docutils literal"><span class="pre">SecurityComponent</span></code> will use the POST data to build the same
structure and compare the hash.</p>
<div class="admonition note">
<p class="first admonition-title">Note</p>
<p class="last">The SecurityComponent will <strong>not</strong> prevent select options from being
added/changed. Nor will it prevent radio options from being added/changed.</p>
</div>
<dl class="docutils">
<dt>unlockedFields</dt>
<dd>Set to a list of form fields to exclude from POST validation. Fields can be
unlocked either in the Component, or with
<code class="xref php php-meth docutils literal"><span class="pre">FormHelper::unlockField()</span></code>. Fields that have been unlocked are
not required to be part of the POST and hidden unlocked fields do not have
their values checked.</dd>
<dt>validatePost</dt>
<dd>Set to <code class="docutils literal"><span class="pre">false</span></code> to completely skip the validation of POST
requests, essentially turning off form validation.</dd>
</dl>
<p>The above configuration options can be set with <code class="docutils literal"><span class="pre">setConfig()</span></code> or
<code class="docutils literal"><span class="pre">config()</span></code> for CakePHP versions below 3.4.</p>
</div>
<div class="section" id="usage">
<h2>Usage<a class="headerlink" href="#usage" title="Permalink to this headline">¶</a></h2>
<p>Using the security component is generally done in the controllers
<code class="docutils literal"><span class="pre">beforeFilter()</span></code>. You would specify the security restrictions you
want and the Security Component will enforce them on its startup:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">App\Controller\AppController</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\Event\Event</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">WidgetsController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">(</span><span class="nx">Event</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">getParam</span><span class="p">(</span><span class="s1">&#39;admin&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">requireSecure</span><span class="p">();</span>
        <span class="p">}</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>The above example would force all actions that had admin routing to
require secure SSL requests:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">App\Controller\AppController</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\Event\Event</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">WidgetsController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;blackHoleCallback&#39;</span> <span class="o">=&gt;</span> <span class="s1">&#39;forceSSL&#39;</span><span class="p">]);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">(</span><span class="nx">Event</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
        <span class="k">if</span> <span class="p">(</span><span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">getParam</span><span class="p">(</span><span class="s1">&#39;admin&#39;</span><span class="p">))</span> <span class="p">{</span>
            <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">requireSecure</span><span class="p">();</span>
        <span class="p">}</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">forceSSL</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">return</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">redirect</span><span class="p">(</span><span class="s1">&#39;https://&#39;</span> <span class="o">.</span> <span class="nx">env</span><span class="p">(</span><span class="s1">&#39;SERVER_NAME&#39;</span><span class="p">)</span> <span class="o">.</span> <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">request</span><span class="o">-&gt;</span><span class="na">here</span><span class="p">());</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>This example would force all actions that had admin routing to require secure
SSL requests. When the request is black holed, it will call the nominated
<code class="docutils literal"><span class="pre">forceSSL()</span></code> callback which will redirect non-secure requests to secure
requests automatically.</p>
</div>
<div class="section" id="csrf-protection">
<span id="security-csrf"></span><h2>CSRF Protection<a class="headerlink" href="#csrf-protection" title="Permalink to this headline">¶</a></h2>
<p>CSRF or Cross Site Request Forgery is a common vulnerability in web
applications. It allows an attacker to capture and replay a previous request,
and sometimes submit data requests using image tags or resources on other
domains. To enable CSRF protection features use the
<a class="reference internal" href="csrf.html"><span class="doc">Cross Site Request Forgery</span></a>.</p>
</div>
<div class="section" id="disabling-security-component-for-specific-actions">
<h2>Disabling Security Component for Specific Actions<a class="headerlink" href="#disabling-security-component-for-specific-actions" title="Permalink to this headline">¶</a></h2>
<p>There may be cases where you want to disable all security checks for an action
(ex. AJAX requests).  You may &#8220;unlock&#8221; these actions by listing them in
<code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;unlockedActions</span></code> in your <code class="docutils literal"><span class="pre">beforeFilter()</span></code>. The
<code class="docutils literal"><span class="pre">unlockedActions</span></code> property will <strong>not</strong> affect other features of
<code class="docutils literal"><span class="pre">SecurityComponent</span></code>:</p>
<div class="highlight-phpinline"><div class="highlight"><pre><span></span><span class="k">namespace</span> <span class="nx">App\Controller</span><span class="p">;</span>

<span class="k">use</span> <span class="nx">App\Controller\AppController</span><span class="p">;</span>
<span class="k">use</span> <span class="nx">Cake\Event\Event</span><span class="p">;</span>

<span class="k">class</span> <span class="nc">WidgetController</span> <span class="k">extends</span> <span class="nx">AppController</span>
<span class="p">{</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">initialize</span><span class="p">()</span>
    <span class="p">{</span>
        <span class="k">parent</span><span class="o">::</span><span class="na">initialize</span><span class="p">();</span>
        <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">loadComponent</span><span class="p">(</span><span class="s1">&#39;Security&#39;</span><span class="p">);</span>
    <span class="p">}</span>

    <span class="k">public</span> <span class="k">function</span> <span class="nf">beforeFilter</span><span class="p">(</span><span class="nx">Event</span> <span class="nv">$event</span><span class="p">)</span>
    <span class="p">{</span>
         <span class="nv">$this</span><span class="o">-&gt;</span><span class="na">Security</span><span class="o">-&gt;</span><span class="na">setConfig</span><span class="p">(</span><span class="s1">&#39;unlockedActions&#39;</span><span class="p">,</span> <span class="p">[</span><span class="s1">&#39;edit&#39;</span><span class="p">]);</span>
    <span class="p">}</span>
<span class="p">}</span>
</pre></div>
</div>
<p>Note: use <code class="docutils literal"><span class="pre">$this-&gt;Security-&gt;config()</span></code> for CakePHP versions prior to 3.4.0</p>
<p>This example would disable all security checks for the edit action.</p>
</div>
</div>


            </div>
        </div>

        
        <div class="col-md-3 col-md-pull-9 hidden-xs hidden-sm" lang="en">
            <aside class="sidebar">
                <div class="mb30 row">
<div id="sidebar-navigation" class="hidden-xs">
	<p class="caption"><span class="caption-text">Preface</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../intro.html">CakePHP at a Glance</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../quickstart.html">Quick Start Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices/3-x-migration-guide.html">3.x Migration Guide</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../tutorials-and-examples.html">Tutorials &amp; Examples</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../contributing.html">Contributing</a></li>
</ul>
<p class="caption"><span class="caption-text">Getting Started</span></p>
<ul class="current">
<li class="toctree-l1"><a class="reference internal" href="../../installation.html">Installation</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/configuration.html">Configuration</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/routing.html">Routing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../request-response.html">Request &amp; Response Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../middleware.html">Middleware</a></li>
<li class="toctree-l1 current"><a class="reference internal" href="../../controllers.html">Controllers</a><ul class="current">
<li class="toctree-l2"><a class="reference internal" href="../pages-controller.html">The Pages Controller</a></li>
<li class="toctree-l2 current"><a class="reference internal" href="../components.html">Components</a><ul class="current">
<li class="toctree-l3"><a class="reference internal" href="authentication.html">Authentication</a></li>
<li class="toctree-l3"><a class="reference internal" href="cookie.html">Cookie</a></li>
<li class="toctree-l3"><a class="reference internal" href="csrf.html">Cross Site Request Forgery</a></li>
<li class="toctree-l3"><a class="reference internal" href="flash.html">Flash</a></li>
<li class="toctree-l3 current"><a class="current reference internal" href="#">Security</a></li>
<li class="toctree-l3"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l3"><a class="reference internal" href="request-handling.html">Request Handling</a></li>
</ul>
</li>
</ul>
</li>
<li class="toctree-l1"><a class="reference internal" href="../../views.html">Views</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../orm.html">Database Access &amp; ORM</a></li>
</ul>
<p class="caption"><span class="caption-text">Using CakePHP</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="authentication.html">Authentication</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../bake.html">Bake Console</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/caching.html">Caching</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../console-and-shells.html">Console Tools, Shells &amp; Tasks</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/debugging.html">Debugging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../deployment.html">Deployment</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/email.html">Email</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/errors.html">Error &amp; Exception Handling</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/events.html">Events System</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/internationalization-and-localization.html">Internationalization &amp; Localization</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/logging.html">Logging</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/form.html">Modelless Forms</a></li>
<li class="toctree-l1"><a class="reference internal" href="pagination.html">Pagination</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../plugins.html">Plugins</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/rest.html">REST</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../security.html">Security</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/sessions.html">Sessions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../development/testing.html">Testing</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/validation.html">Validation</a></li>
</ul>
<p class="caption"><span class="caption-text">Utility Classes</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/app.html">App Class</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/collections.html">Collections</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/file-folder.html">Folder &amp; File</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/hash.html">Hash</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/httpclient.html">Http Client</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/inflector.html">Inflector</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/number.html">Number</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/registry-objects.html">Registry Objects</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/text.html">Text</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/time.html">Date &amp; Time</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/xml.html">Xml</a></li>
</ul>
<p class="caption"><span class="caption-text">Plugins</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../chronos.html">Chronos</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../debug-kit.html">Debug Kit</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../migrations.html">Migrations</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../elasticsearch.html">ElasticSearch</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../upgrade-tool.html">Upgrade Tool</a></li>
</ul>
<p class="caption"><span class="caption-text">Other</span></p>
<ul>
<li class="toctree-l1"><a class="reference internal" href="../../core-libraries/global-constants-and-functions.html">Constants &amp; Functions</a></li>
<li class="toctree-l1"><a class="reference internal" href="../../appendices.html">Appendices</a></li>
</ul>

</div>

                </div>
            </aside>
            <aside class="sidebar">
                <div class="mb30 row">
                </div>
            </aside>
        </div>
    </div>
</div>

<section id="socials" class="back-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-5  social text-center">
                <div class="col-sm-3 col-xs-3">
                    <div id="fb-root"></div>
                        <script>(function(d, s, id) {
                          var js, fjs = d.getElementsByTagName(s)[0];
                          if (d.getElementById(id)) return;
                          js = d.createElement(s); js.id = id;
                          js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
                          fjs.parentNode.insertBefore(js, fjs);
                        }(document, 'script', 'facebook-jssdk'));
                        </script>
                        <div id="fb-root-face" class="fb-like" data-href="https://www.facebook.com/CakePHP/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=star&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <iframe src="https://ghbtns.com/github-btn.html?user=cakephp&amp;repo=cakephp&amp;type=fork&amp;count=true&amp;size=small" frameborder="0" scrolling="0" width="120px" height="30px"></iframe>
                </div>

                <div class="col-sm-3 col-xs-3">
                    <a href="https://twitter.com/CakePHP" class="twitter-follow-button" data-show-count="false" data-show-screen-name="false">Follow @CakePHP</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 col-md-7 social-footer text-center ">
                <a href="https://twitter.com/cakephp" data-toggle="tooltip" title="Twitter"><i class="fa icon-social fa-twitter"></i>
                <a href="https://www.facebook.com/groups/cake.community" data-toggle="tooltip" title="Facebook"><i class="fa icon-social fa-facebook"></i></a>
                <a href="https://goo.gl/mSC0s" data-toggle="tooltip" title="Google Plus"><i class="fa icon-social  fa-google-plus"></i></a>
                <a href="https://www.youtube.com/user/CakePHP" data-toggle="tooltip" title="Youtube"><i class="fa icon-social fa-youtube-play"></i></a>
                <a href="https://github.com/cakephp" data-toggle="tooltip" title="Github"><i class="fa icon-social fa-git"></i></a>
                <a href="https://cakesf.herokuapp.com/" target="_blank" title="Slack" data-toggle="tooltip"><i class="fa fa-slack icon-social"></i></a>
                <a href="https://stackoverflow.com/tags/cakephp" data-toggle="tooltip" title="Stack Overflow"><i class="fa icon-social fa-stack-overflow"></i></a>
                <a href="https://webchat.freenode.net/?channels=cakephp" data-toggle="tooltip" title="IRC" class="icon-irc">#IRC</a>
            </div>
        </div>
    </div>
</section>

<footer id="footer" class="footer-wrapper">
    <div class="container">

        <div class="row col-p30">
            <div class="col-sm-12 col-md-3">
                <div class="footer-widget t-footer">
                    <div class="col-md-12">
                        <a href="https://www.openhub.net/p/cakephp">
                            <img src="../../_static/open-hub.png">
                        </a>
                        <div class="mt10">
                            <a href="https://www.rackspace.com/">
                                <img src="../../_static/rackspace.png">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-12 col-md-9">
                <div class="col-md-3 col-sm-6 business-solution">
                    <ul class="footer-menu">
                        <li class="menu-title">
    <a href="https://cakephp.org/business-solutions"><i class="fa fa-menu-title fa-briefcase"></i>Business Solutions</a>
</li>
<li class="menu-title mt30">
    <a href="https://cakephp.org/showcase"><i class="fa fa-menu-title fa-desktop"></i>Showcase</a>
</li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title">
	<i class="fa fa-menu-title fa-book"></i>Documentation
</li>

<li><a href="https://book.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Book</a></li>
<li><a href="https://api.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>API</a></li>

<li><a href="https://cakephp.org/documentation/videos"><i class="fa fa-menu fa-chevron-right"></i>Videos</a></li>
<li><a href="https://cakephp.org/privacy"><i class="fa fa-menu fa-chevron-right"></i>Privacy Policy</a></li>
<li><a href="https://cakephp.org/pages/trademark"><i class="fa fa-menu fa-chevron-right"></i>Logos &amp; Trademarks</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-users"></i>Community</li>

<li><a href="https://cakephp.org/team"><i class="fa fa-menu fa-chevron-right"></i>Team</a></li>
<li><a href="https://github.com/cakephp/cakephp/issues"><i class="fa fa-menu fa-chevron-right"></i>Issues (Github)</a></li>
<li><a href="https://www.youtube.com/user/CakePHP"><i class="fa fa-menu fa-chevron-right"></i>YouTube Channel</a></li>
<li><a href="https://cakephp.org/get-involved"><i class="fa fa-menu fa-chevron-right"></i>Get Involved</a></li>

<li><a href="https://bakery.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Bakery</a></li>
<li><a href="https://github.com/FriendsOfCake/awesome-cakephp"><i class="fa fa-menu fa-chevron-right"></i>Featured Resources</a></li>
<li><a href="https://cakephp.org/newsletter/signup"><i class="fa fa-menu fa-chevron-right"></i>Newsletter</a></li>
<li><a href="http://certification.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Certification</a></li>
<li><a href="http://my.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>My CakePHP</a></li>
<li><a href="http://cakefest.org"><i class="fa fa-menu fa-chevron-right"></i>CakeFest</a></li>
<li><a href="https://www.facebook.com/groups/cake.community"><i class="fa fa-menu fa-chevron-right"></i>Facebook</a></li>
<li><a href="https://twitter.com/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Twitter</a></li>
                    </ul>
                </div>

                <div class="col-md-3 col-sm-6">
                    <ul class="footer-menu">
                        
<li class="menu-title"><i class="fa fa-menu-title fa-comments-o"></i>Help &amp; Support</li>

<li><a href="http://discourse.cakephp.org"><i class="fa fa-menu fa-chevron-right"></i>Forum</a></li>
<li><a href="https://stackoverflow.com/tags/cakephp"><i class="fa fa-menu fa-chevron-right"></i>Stack Overflow</a></li>
<li><a href="https://webchat.freenode.net/?channels=cakephp"><i class="fa fa-menu fa-chevron-right"></i>IRC</a></li>
<li><a href="https://cakesf.herokuapp.com/"><i class="fa fa-menu fa-chevron-right"></i>Slack</a></li>
<li><a href="https://www.cakedc.com/"><i class="fa fa-menu fa-chevron-right"></i>Paid Support</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 text-center mt30">
                <p class="copyright">
                            &copy; Copyright 2017, Cake Software Foundation, Inc.
                        Last updated on Aug 30, 2017.
                        Created using <a href="http://sphinx.pocoo.org/">Sphinx</a> 1.4.5.
                </p>
            </div>
        </div>
    </div>
</footer>

<div id="inline-search-results"></div>


</div>

<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-743287-3']);
    _gaq.push(['_trackPageview']);
    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
  </body>
</html>